<template>
  <div>
    <HeaderAuth />
    <Navbar />
    <BreadCrumb />
  </div>
</template>

<script>
import HeaderAuth from '~/components/Header/HeaderAuth';
import Navbar from '~/components/Header/Navbar/Navbar';
import BreadCrumb from '../../components/BreadCrumb';

export default {
  name: 'Header',
  components: {
    HeaderAuth,
    Navbar,
    BreadCrumb,
  },
};
</script>

<style scoped></style>
