<template>
  <div class="auth-container">
    <div class="content d-flex v-center h-space">
      <h6>Ücretsiz Kargo Fırsatı!</h6>
      <div class="auth-box">
        <nuxt-link to="/giris">
          <HeaderAuthButton text="Üye Girişi" mr />
        </nuxt-link>

        <nuxt-link to="/kayit-ol">
          <HeaderAuthButton text="Kayıt Ol" border />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import HeaderAuthButton from '~/components/Header/HeaderAuthButton';

export default {
  name: 'HeaderAuth',
  components: {
    HeaderAuthButton,
  },
};
</script>

<style lang="postcss" scoped>
.auth-container {
  width: 100%;
  background: var(--text-black);
  padding: 8px 10%;

  .content {
    width: var(--container-width);
    margin: 0 auto;
    padding: 8px 0;

    h6 {
      color: var(--white);
      font-weight: var(--semi-bold);
    }

    @media (--p) {
      display: none;
    }
  }
}

.auth-box {
  display: flex;
  align-items: center;
  color: var(--white);
}
</style>
