<template>
  <button class="auth-button" :class="{ border: border, mr: mr }">{{ text }}</button>
</template>

<script>
export default {
  name: 'HeaderAuthButton',
  props: {
    mr: Boolean,
    border: Boolean,
    text: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="postcss" scoped>
.auth-button {
  background: transparent;
  color: var(--white);
  border: 0;
  font-size: 14px;
}
.border {
  border: var(--white) solid 1px;
  padding: 3px 8px;
  border-radius: 4px;
}
</style>
