<template>
  <article class="card-info">
    <div class="head">
      <h4>Kart Bilgileri</h4>
      <div class="pay-other">Başka bir kart ile ödeme yap</div>
    </div>
    <div class="select">
      <input type="radio" />
      <label>CardFinans Kartım</label>
    </div>
    <CreditCard cardNumber="5769 11 ** **** 6684" lastDate="12 / 2024" />
  </article>
</template>

<script>
import CreditCard from '../../components/Payment/CreditCard';

export default {
  name: 'CardInfo',
  components: {
    CreditCard,
  },
};
</script>

<style lang="postcss" scoped>
.card-info {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .pay-other {
      color: #292929;
      font-size: 12px;
      text-declaration: underline;
    }
  }

  .select {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    input {
      margin-right: 10px;
    }

    label {
      color: #101010;
      font-size: 14px;
      font-weight: 600;
      margin: 0;
    }
  }
}
</style>
