<template>
  <article class="credit-card">
    <div class="icons">
      <IconCardFinans />
      <IconMasterCard />
    </div>
    <div class="info">
      <div class="card-number">{{ cardNumber }}</div>
      <div class="last-date">{{ lastDate }}</div>
    </div>
  </article>
</template>

<script>
import IconCardFinans from '../../assets/icons/IconCardFinans.svg';
import IconMasterCard from '../../assets/icons/IconMasterCard.svg';

export default {
  name: 'CreditCard',
  props: {
    cardNumber: {
      type: String,
      required: true,
    },
    lastDate: {
      type: String,
      required: true,
    },
  },
  components: {
    IconCardFinans,
    IconMasterCard,
  },
};
</script>

<style lang="postcss" scoped>
.credit-card {
  background: #f6f6f6;
  border: 1px solid #292929;
  border-radius: 4px;
  padding: 29px 30px 30px 37px;
  min-height: 186px;

  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;

    .card-number,
    .last-date {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}
</style>
