<template>
  <div class="product-detail-container">
    <div class="product-container">
      <div>
        <div class="product-images">
          <div id="product-thumb-image" class="product-thumb-image">
            <div id="top-slide-icon" class="slide-icon" @click="scroll(0)">
              <IconChevronBottom />
            </div>
            <img :src="product.imageUrl" v-for="_ in 10" />
            <div id="bottom-slide-icon" class="slide-icon slide-icon-bottom" @click="scroll(1)">
              <IconChevronTop />
            </div>
          </div>
          <div class="product-current-image">
            <img :src="product.imageUrl" ref="currentProductImage" />
          </div>
        </div>
        <CollectedWithTheProduct />
      </div>

      <div>
        <ProductDetails :product="product" />
        <ColorDetails :product="product" />
        <BodySize :product="product" />
        <Actions :product="product" />
        <Info :product="product" />
      </div>
    </div>

    <Suggestions :isUnderline="true" />
  </div>
</template>
<script>
import ProductDetails from '../../../../components/Product/Detail/ProductDetails';
import ColorDetails from '../../../../components/Product/Detail/ColorDetails';
import BodySize from '../../../../components/Product/Detail/BodySize';
import Actions from '../../../../components/Product/Detail/Actions';
import Info from '../../../../components/Product/Detail/Info';
import CollectedWithTheProduct from '../../../../components/Product/Detail/Collect/CollectedWithTheProduct';
import Suggestions from '../../../../components/Suggestion/Suggestions';

import IconChevronTop from '../../../../assets/icons/IconChevronTop.svg';
import IconChevronBottom from '../../../../assets/icons/IconChevronBottom.svg';

export default {
  name: 'ProductDetail',
  components: {
    ProductDetails,
    ColorDetails,
    BodySize,
    Actions,
    Info,
    CollectedWithTheProduct,
    IconChevronTop,
    IconChevronBottom,
    Suggestions,
  },
  data() {
    return {
      product: {},
    };
  },
  methods: {
    scroll(p) {
      const pos = document.getElementById('product-thumb-image').scrollTop;
      let newPosition = 0;

      if (p === 1) {
        newPosition = pos + 105;
      } else {
        newPosition = pos - 105;
      }

      document.getElementById('top-slide-icon').style.top = `${newPosition}px`;
      document.getElementById('bottom-slide-icon').style.bottom = `-${newPosition}px`;
      document.getElementById('product-thumb-image').scrollTop = newPosition;
    },
  },
  async beforeCreate() {
    this.product = await this.$store.dispatch('getProductById', this.$route.params.productId);
  },
};
</script>
<style lang="postcss" scoped>
.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .product-images {
    display: grid;
    grid-template-columns: 65px 1fr;
    column-gap: 30px;

    .product-thumb-image {
      height: 492px;
      max-height: 492px;
      position: relative;
      overflow: auto;
      white-space: nowrap;

      .slide-icon {
        background: rgba(37, 37, 37, 0.5);
        display: flex;
        place-content: center;
        padding: 12px 0;
        position: absolute;
        width: 65px;
        z-index: 11111;
        cursor: pointer;
      }

      .slide-icon-bottom {
        bottom: 0;
      }

      img {
        width: 65px;
        height: 91px;
        margin-bottom: 14px;
        display: block;
      }
    }

    .product-current-image {
      img {
        width: 350px;
        height: 492px;
      }
    }
  }
}
</style>
