<template>
  <article class="p-0">
    <div class="img-container">
      <img src="@/assets/fake-images/suggest-img.png" />
      <a @click="like(product)">
        <IconHeart class="like" :isActive="product.isLiked" />
      </a>
    </div>

    <div class="product d-flex h-space">
      <p class="product-name">Yaka Detaylı Çizgili Sweatshirt Oversize</p>
    </div>
    <div class="price">
      <span class="old">149.99TL</span>
      <span class="new">119.99TL</span>
    </div>
  </article>
</template>
<script>
import IconHeart from '@/assets/icons/IconHeart';

export default {
  name: 'CollectedWithTheProductItem',
  props: ['product'],
  components: {
    IconHeart,
  },
  methods: {
    like(product) {
      product.isLiked = !product.isLiked;
    },
  },
};
</script>
<style lang="postcss" scoped>
article {
  .img-container {
    position: relative;

    img {
      width: 100%;
    }

    .like {
      position: absolute;
      right: 9px;
      bottom: 9px;
      cursor: pointer;
    }
  }

  .product {
    transition: var(--transition);

    .product-name {
      width: 100%;
      max-width: 100%;
      font-size: 14px;
      color: var(--text-black);
    }

    .like {
      cursor: pointer;
    }
  }

  .price {
    .old {
      color: var(--soft-black);
      margin-right: 5px;
      text-decoration: line-through;
    }

    .new {
      color: var(--red);
    }
  }
}
</style>
