<template>
  <div class="suggestions p-0">
    <h4>Beraber koleksiyona eklenenler</h4>
    <div class="row m-0 h-space">
      <CollectedWithTheProductItem v-for="product in products" :key="product.id" :product="product" />
    </div>
  </div>
</template>

<script>
import CollectedWithTheProductItem from '@/components/Product/Detail/Collect/CollectedWithTheProductItem';

export default {
  name: 'CollectedWithTheProduct',
  components: { CollectedWithTheProductItem },
  data() {
    return {
      products: [
        {
          id: 1,
          isLiked: false,
        },
        {
          id: 2,
          isLiked: false,
        },
        {
          id: 3,
          isLiked: false,
        },
      ],
    };
  },
};
</script>

<style lang="postcss" scoped>
.suggestions {
  margin: 47px 30px 0 auto;

  h4 {
    color: var(--text-black);
    margin: 0 0 14px 0;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
}
</style>
