<template>
  <div class="register">
    <div class="form">
      <h1>Üye Ol</h1>
      <p class="description">Kişisel bilgilerinizi düzenlemek için lütfen bu formu doldurun. (*) Bulunan alanların girilmesi zorunludur.</p>

      <div class="row">
        <div class="name-surname">
          <div>
            <label for="name">ADINIZ*</label>
            <input id="name" name="name" type="text" />
          </div>
          <div>
            <label for="surname">SOYADINIZ*</label>
            <input id="surname" name="surname" type="text" />
          </div>
        </div>
        <div class="col-12">
          <label for="email">E-POSTA ADRESİNİZ*</label>
          <input id="email" name="email" type="email" />
        </div>
        <div class="col-12">
          <label for="password">ŞİFRENİZ*</label>
          <input id="password" name="password" type="password" />
        </div>
        <div class="col-12 contract">
          <input type="checkbox" name="chEmail" id="chEmail" />
          <label for="chEmail">E-posta adresime Sarissa ile ilgili bildirimlerin gelmesini istiyorum.</label>
        </div>
        <div class="col-12 contract last">
          <input type="checkbox" name="chPrivacy" id="chPrivacy" />
          <label for="chPrivacy">Gizlilik beyanını kabul ediyorum.</label>
        </div>
        <div class="col-12">
          <BlackButton text="ÜYE OL" />
        </div>
        <div class="col-12">
          <GoogleButton />
        </div>
        <div class="col-12 text-center">
          <nuxt-link to="/giris" class="already-account"> Zaten üye misiniz? <b>Giriş Yap</b> </nuxt-link>
        </div>
      </div>
    </div>
    <img src="../../assets/img/register-img.png" />
  </div>
</template>

<script>
import BlackButton from '../../components/Buttons/BlackButton';
import GoogleButton from '../../components/Buttons/GoogleButton';

export default {
  name: 'Register',
  components: {
    BlackButton,
    GoogleButton,
  },
};
</script>

<style lang="postcss" scoped>
.register {
  display: grid;
  grid-template-columns: 445px 445px;
  column-gap: 128px;

  h1 {
    color: #101010;
    font-weight: 600;
    margin-bottom: 14px;
  }

  .description {
    color: #101010;
    font-size: 14px;
    margin-bottom: 20px;
  }

  label {
    color: #101010;
    font-size: 12px;
    font-weight: 600;
    display: block;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'] {
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(41, 41, 41, 0.5);
    border-radius: 4px;
    font-size: 14px;
    color: #292929;
    padding: 9px 0 9px 18px;
  }

  .col-12 {
    margin-top: 18px;
  }

  .name-surname {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .contract {
    display: flex;
    align-items: center;

    label {
      color: #101010;
      font-size: 12px;
      margin: 0;
    }

    input {
      margin-right: 13px;
    }
  }

  .last {
    margin-top: 9px;
  }

  .already-account {
    font-size: 14px;
    color: #101010;
  }
}
</style>
