<template>
  <section class="actions">
    <section class="unit">
      <b-dropdown id="dropdown-units" class="dropdown-units" :text="`${selectedIndex} Adet`">
        <b-dropdown-item v-for="item in units" :key="item" @click="selectedIndex = item"> {{ item }} Adet </b-dropdown-item>
      </b-dropdown>
    </section>
    <section class="add-to-basket">
      <button @click="addBasket()">Sepete Ekle</button>
    </section>
    <section class="add-to-fav">
      <button :class="{ liked: product.isLiked }" @click="like()">
        <IconHeart :isActive="false" :noBorder="product.isLiked" />
      </button>
    </section>
  </section>
</template>

<script>
import IconHeart from 'assets/icons/IconHeart';
import { mapActions } from 'vuex';

export default {
  name: 'Actions',
  components: { IconHeart },
  props: ['product'],
  data() {
    return {
      selectedIndex: 1,
      units: [1, 2, 3, 4, 5],
    };
  },
  methods: {
    addBasket() {
      this.$store.dispatch('addBasket', this.product);
    },
    like() {
      this.product.isLiked = !this.product.isLiked;
    },
  },
};
</script>

<style lang="postcss" scoped>
.actions {
  display: grid;
  grid-template-columns: 116px 1fr 87px;
  column-gap: 10px;
  margin-top: 24px;

  .add-to-basket {
    button {
      color: #fff;
      background: #000;
      font-size: 16px;
      font-weight: 600;
      border: none;
      border-radius: 4px;
      padding: 10px 0;
      width: 100%;
    }
  }

  .add-to-fav {
    button {
      background: #fff;
      border: 1px solid #666666;
      border-radius: 4px;
      padding: 5px 0;
      width: 100%;
    }

    .liked {
      background: #ff4848;
      border: 1px solid #ff4848;
    }
  }

  .dropdown-units {
    width: 100%;
    height: 100%;
    min-width: 100%;

    button {
      border: 1px solid rgba(41, 41, 41, 0.5);
    }
  }
}
</style>
