<template>
  <section class="body-size">
    <section class="body">
      <div class="title">
        Beden
        <span class="guide">Beden Rehberi</span>
      </div>
      <div class="options">
        <div v-for="item in body" :key="item.id" @click="selectBody(item)" :class="{ selected: item.selected }">{{ item.value }}</div>
      </div>
    </section>
    <section class="size">
      <div class="title">Boy</div>
      <div class="options">
        <div v-for="item in size" :key="item.id" @click="selectSize(item)" :class="{ selected: item.selected }">{{ item.value }}</div>
      </div>
    </section>
  </section>
</template>

<script>
export default {
  name: 'BodySize',
  props: ['product'],
  data() {
    return {
      body: [
        {
          id: 1,
          value: 26,
          selected: false,
        },
        {
          id: 2,
          value: 27,
          selected: false,
        },
        {
          id: 3,
          value: 28,
          selected: false,
        },
        {
          id: 4,
          value: 29,
          selected: false,
        },
      ],
      size: [
        {
          id: 1,
          value: 26,
          selected: false,
        },
        {
          id: 2,
          value: 27,
          selected: false,
        },
        {
          id: 3,
          value: 28,
          selected: false,
        },
        {
          id: 4,
          value: 29,
          selected: false,
        },
      ],
    };
  },
  methods: {
    selectBody(body) {
      this.body.forEach((b) => (b.selected = false));
      body.selected = true;
    },
    selectSize(size) {
      this.size.forEach((s) => (s.selected = false));
      size.selected = true;
    },
  },
};
</script>

<style lang="postcss" scoped>
.body-size {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 14px;

  .title {
    color: #101010;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .guide {
      color: #666;
      font-size: 12px;
      text-decoration: underline;
      margin-left: 10px;
    }
  }

  .selected {
    color: #fff !important;
    background: #292929;
  }

  .options {
    display: grid;
    grid-template-columns: 32px 32px 32px 32px 32px 32px;
    column-gap: 10px;
    row-gap: 10px;

    div {
      color: #292929;
      font-size: 12px;
      width: 32px;
      height: 32px;
      border: 1px solid #292929;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
</style>
