<template>
  <section class="color-details">
    <div class="title">Renk</div>
    <section class="colors">
      <div v-for="color in colors" :key="color.id" class="color" :class="color.color" @click="selectColor(color)">
        <IconTick v-if="color.selected" />
      </div>
    </section>
    <div class="inspected">
      <IconEye class="eye" />
      <span> Bugün <span class="bold">104</span> kişi bu ürünü inceledi. </span>
    </div>
  </section>
</template>

<script>
import IconEye from '../../../assets/icons/IconEye.svg';
import IconTick from '../../../assets/icons/IconTick.vue';

export default {
  name: 'ColorDetails',
  props: ['product'],
  components: { IconEye, IconTick },
  data() {
    return {
      colors: [
        { id: 1, color: 'red', selected: false },
        { id: 2, color: 'pink', selected: false },
        { id: 3, color: 'orange', selected: false },
      ],
    };
  },
  methods: {
    selectColor(color) {
      this.colors.forEach((c) => (c.selected = false));
      color.selected = true;
    },
  },
};
</script>

<style lang="postcss" scoped>
.color-details {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 24px;

  .title {
    color: #101010;
    font-size: 18px;
  }

  .colors {
    display: flex;
    margin-top: 12px;

    .color {
      width: 32px;
      height: 32px;
      border-radius: 2px;
      margin-right: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .red {
      background: red;
    }

    .pink {
      background: pink;
    }

    .orange {
      background: orange;
    }
  }

  .inspected {
    background: #f6f6f6;
    display: inline-flex;
    place-items: center;
    margin-top: 20px;
    padding: 6px 12px;

    .eye {
      margin-right: 10px;
    }

    .bold {
      font-weight: 600;
    }
  }
}
</style>
