<template>
  <section class="info">
    <section class="headers">
      <a v-for="info in data" :key="info.id" :class="{ active: info.id === selectedId }" @click="selectedId = info.id">
        {{ info.header }}
      </a>
    </section>
    <section class="details">
      <section v-for="info in data" :key="info.id" class="properties" :style="{ display: selectedId === info.id ? 'block' : 'none' }">
        {{ info.details }}
      </section>
    </section>
  </section>
</template>

<script>
export default {
  name: 'Info',
  props: ['product'],
  data() {
    return {
      data: [
        {
          id: 1,
          header: 'Urun ozellikleri',
          details:
            'Mavi nin Kadın Jean Koleksiyonundan Tess 90S Glam Vintage Jean Pantolon Anında İndirim Yüksek Bel Skinny Kısa Paça %98,5 Pamuk %1,5 Elastan Model Ölçüleri: Boy: 177 cm Bel: 60 cm Göğüs: 83 cm Kalça: 90 Model Üzerindeki Ürün Bedeni Jeanler İçin, Bel: 25 Boy: 29 Diğer Ürünler: S İndigo Model Ölçüleri: Boy: 177 cm Bel: 60 cm Göğüs: 83 cm Kalça: 90 Model Üzerindeki Ürün Bedeni Jeanler İçin, Bel: 25 Boy: 29 Diğer Ürünler: S İndigo  ',
        },
        { id: 2, header: 'Iade ve Teslimat', details: 'burada da iade kosullari' },
        { id: 3, header: 'Odeme Secenekleri', details: 'burada da odeme ile ilgili bilgilerx' },
      ],
      selectedId: 1,
    };
  },
};
</script>

<style lang="postcss" scoped>
.info {
  background: #f6f6f6;
  padding: 32px 35px;
  margin-top: 24px;

  .headers {
    display: flex;
    justify-content: space-between;

    a {
      color: #292929;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 14px;
    }

    .active {
      font-weight: 600;
      padding-bottom: 4px;
      border-bottom: 2px solid #101010;
    }
  }
}
</style>
