<template>
  <section class="product-details">
    <div class="product-id">{{ product.id }}</div>
    <div class="product-name">{{ product.productName }}</div>
    <div class="product-desc">{{ product.productName + ' description' }}</div>
    <div class="product-price-info">
      <div class="price">{{ product.newPrice }}TL</div>
      <div class="cargo-is-free">
        <IconTruck class="truck" /> <span>Bu üründe kargo <span class="bold">ücretsiz</span></span>
      </div>
    </div>
  </section>
</template>

<script>
import IconTruck from '../../../assets/icons/IconTruck.svg';

export default {
  name: 'ProductDetails',
  components: { IconTruck },
  props: ['product'],
};
</script>

<style lang="postcss" scoped>
.product-details {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 24px;
  margin-bottom: 14px;

  .product-id {
    color: #666666;
    font-size: 12px;
    margin-bottom: 1px;
  }

  .product-name {
    color: #101010;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .product-desc {
    color: #101010;
    font-size: 14px;
    margin-bottom: 14px;
  }

  .product-price-info {
    display: flex;
    justify-content: space-between;

    .price {
      color: #101010;
      font-size: 22px;
      font-weight: 600;
    }

    .cargo-is-free {
      color: #101010;
      font-size: 14px;
      background: #f6f6f6;
      padding: 6.5px 12px;
      display: flex;
      place-items: center;

      .truck {
        margin-right: 10px;
      }

      .bold {
        font-weight: 600;
      }
    }
  }
}
</style>
