<template>
  <article class="modal add-address">
    <article class="form">
      <article class="head">
        <div class="title">
          Yeni Adres Oluştur
        </div>
        <div class="icon-close" @click="close()">
          <IconClose />
        </div>
      </article>
      <article class="content">
        <div class="row">
          <div class="col-6 rs">
            <label>
              ADINIZ*
            </label>
            <input type="text" />
          </div>
          <div class="col-6 ls">
            <label>
              SOYADINIZ*
            </label>
            <input type="text" />
          </div>
        </div>
        <div class="row">
          <div class="col-6 rs">
            <label>
              CEP TELEFONU*
            </label>
            <input type="text" />
          </div>
          <div class="col-6 ls">
            <label>
              İL*
            </label>
            <b-dropdown id="dropdown-provinces" class="dropdown-units dropdown-provinces" :text="selectedProvince.name">
              <b-dropdown-item
                v-for="item in $store.state.provinces"
                :key="item.id"
                :class="{ selected: item == selectedProvince }"
                @click="selectedProvince = item"
              >
                {{ item.name }}
              </b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>
              ADRES
            </label>
            <textarea cols="30" rows="3"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>
              ADRES BAŞLIĞI
            </label>
            <input type="text" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a @click="save()">
              <BlackButton text="KAYDET" />
            </a>
          </div>
        </div>
      </article>
    </article>
  </article>
</template>

<script>
import IconClose from '../../assets/icons/IconClose.svg';
import BlackButton from '../../components/Buttons/BlackButton';

export default {
  name: 'AddAddressModal',
  components: {
    IconClose,
    BlackButton,
  },
  data() {
    return {
      selectedProvince: {},
    };
  },
  methods: {
    save() {
      this.$emit('saved');
      document.body.style.overflow = 'auto';
    },
    close() {
      this.$emit('closed');
      document.body.style.overflow = 'auto';
    },
  },
  created() {
    this.selectedProvince = this.$store.state.provinces.find(x => x.id == 34);
    document.body.style.overflow = 'hidden';
  },
};
</script>

<style lang="postcss" scoped>
.add-address {
  .form {
    background: #fff;
    width: 505px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
      padding: 16px 31px;

      .title {
        font-size: 22px;
        font-weight: 600;
      }

      .icon-close {
        width: 24px;
        height: 24px;
        background: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }

    .content {
      padding: 14px 30px;

      .row {
        &:not(:last-child) {
          margin-bottom: 25px;
        }

        .col-6,
        .col-12 {
          &.rs {
            padding-right: 11px;
          }

          &.ls {
            padding-left: 11px;
          }

          label {
            font-size: 12px;
            font-weight: 600;
            width: 100%;
          }

          input,
          textarea {
            font-size: 14px;
            width: 100%;
            resize: none;
            padding: 9px 16px;
          }
        }
      }
    }
  }
}
</style>
