<template>
  <button :class="{ disabled: disabled }" :disabled="disabled">{{ text }}</button>
</template>

<script>
export default {
  name: 'BlackButton',
  props: {
    text: {
      type: String,
      required: true,
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>

<style lang="postcss" scoped>
button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background: #101010;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 17px;
  border-radius: 4px;
  border: none;
}

.disabled {
  background: rgba(41, 41, 41, 0.5);
}
</style>
