<template>
  <button>
    <IconGoogle />
    {{ text }}
  </button>
</template>

<script>
import IconGoogle from '../../assets/icons/IconGoogle.svg';

export default {
  name: 'GoogleButton',
  components: { IconGoogle },
  props: {
    text: {
      type: String,
      default: 'Google ile Bağlan',
    },
  },
};
</script>

<style lang="postcss" scoped>
button {
  color: #666;
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  font-weight: 600;
}
</style>
