<template>
  <div class="forgot-password">
    <div class="forgot-password-container">
      <h1>Şifre Yenileme</h1>
      <div class="description">Şifre yenileme bağlantısını gönderebilmemiz için ihtiyacımız var.</div>

      <div class="input-group">
        <div>E-POSTA ADRESİNİZ</div>
        <input type="email" />
      </div>

      <div class="buttons">
        <BlackButton text="TEKRAR GÖNDER (04:20)" disabled />
      </div>
    </div>
    <div class="sign-up">
      <LetsRegister />
    </div>
  </div>
</template>

<script>
import LetsRegister from '../../components/LetsRegister';
import BlackButton from '../../components/Buttons/BlackButton';
import GoogleButton from '../../components/Buttons/GoogleButton';

export default {
  name: 'Login',
  components: {
    LetsRegister,
    BlackButton,
    GoogleButton,
  },
};
</script>

<style lang="postcss" scoped>
.forgot-password {
  display: grid;
  grid-template-columns: 444px 350px;
  column-gap: 30px;
  margin-bottom: 160px;

  .forgot-password-container {
    border-right: 1px solid #f2f2f2;

    h1 {
      font-weight: 600;
    }

    .description {
      color: #101010;
      font-size: 14px;
      font-weight: normal;
      width: 350px;
      margin: 8px 0 25px 0;
    }

    .input-group {
      flex-direction: column;
      margin-top: 25px;

      div {
        color: #101010;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 6px;
      }

      input {
        color: #292929;
        font-size: 14px;
        width: 350px;
        border: 1px solid rgba(41, 41, 41, 0.5);
        border-radius: 4px;
        padding: 9px 16px;
      }
    }

    .buttons {
      width: 350px;
      margin-top: 21px;
    }
  }

  .sign-up {
    h1 {
      margin-bottom: 14px;
    }

    .description {
      color: #101010;
      font-size: 16px;
      margin-bottom: 25px;

      span {
        font-weight: bold;
      }
    }

    .list {
      .list-item {
        margin-bottom: 15px;
        font-size: 16px;
        color: #292929;

        svg {
          margin-right: 12.5px;
        }
      }
    }
  }
}
</style>
