<template>
  <div class="list-header">
    <section>
      <h4 class="header">{{ `${$route.params.category} ${$route.params.subcategory}` }}</h4>
      <p class="total-count">({{ productsCount }} Ürün Bulundu)</p>
    </section>
    <section class="refine-bar">
      <div class="d-flex v-center h-center">
        <div class="filter d-flex v-center h-center" @click="showFilter = !showFilter">
          <IconFilter />
          Filtrele
        </div>
        <b-dropdown id="dropdown-category-sort" class="dropdown-category-sort" :text="dropdownLabel">
          <b-dropdown-item disabled>Sırala:</b-dropdown-item>
          <b-dropdown-item v-for="item in categoryDropdown" :key="item.id" @click="sortChanged(item)">
            {{ item.label }}
          </b-dropdown-item>
        </b-dropdown>
        <a class="listing-4" @click="changeListing(4)">
          <IconListing4 :isActive="listCount === 4" />
        </a>
        <a class="listing-2" @click="changeListing(2)">
          <IconListing2 :isActive="listCount === 2" />
        </a>
      </div>
    </section>

    <FilterPanel :show="showFilter" />
  </div>
</template>

<script>
import IconListing2 from '@/assets/icons/IconListing2';
import IconListing4 from '@/assets/icons/IconListing4';
import IconFilter from '@/assets/icons/IconFilter.svg';

import FilterPanel from '@/components/Product/FilterPanel.vue';

import { mapActions, mapState } from 'vuex';

export default {
  name: 'Header',
  components: {
    IconListing2,
    IconListing4,
    IconFilter,
    FilterPanel,
  },
  props: {
    productsCount: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      category: {},
      selectedSort: {
        id: 0,
        label: 'Sırala:',
      },
      listCount: 4,
      showFilter: false,
    };
  },
  methods: {
    changeListing(listCount) {
      this.listCount = listCount;
      this.$emit('changedListingCount', this.listCount);
    },
    sortChanged(item) {
      this.selectedSort = item;

      if (this.selectedSort.id === 4 || this.selectedSort.id === 5) {
        this.$emit('changedSort', this.selectedSort);
      }
    },
    ...mapActions(['getCategoryDetails', 'getSubCategoryDetails']),
  },
  computed: {
    slug() {
      const { category } = this.$route.params;
      return category;
    },
    subSlug() {
      const { category, subcategory } = this.$route.params;
      return `/${category}/${subcategory}`;
    },
    dropdownLabel() {
      return this.selectedSort.label;
    },
    ...mapState(['categoryDropdown']),
  },
  async created() {
    if (this.subSlug) {
      this.category = await this.getSubCategoryDetails(this.subSlug);
    } else {
      this.category = await this.getCategoryDetails(this.slug);
    }
  },
};
</script>

<style lang="postcss" scoped>
.list-header {
  display: flex;
  justify-content: space-between;
  position: relative;

  section {
    &[class*='refine-bar'] {
      display: flex;
      align-items: flex-start;
    }

    .header {
      color: var(--text-black);
      margin-bottom: 4px;
      text-transform: capitalize;
    }

    .total-count {
      color: var(--gray-50);
      font-size: 14px;
    }
  }

  .refine-bar {
    .listing {
      cursor: pointer;

      &-2,
      &-4 {
        margin-left: 25px;
        cursor: pointer;
      }
    }

    .suggest {
      margin-left: 25px;
    }

    .filter {
      font-size: 14px;
      margin-right: 25px;
      cursor: pointer;
      position: relative;
      user-select: none;
    }
  }
}
</style>
