<template>
  <section>
    <Header :productsCount="products.length" @changedListingCount="changedListingCount($event)" @changedSort="changedSort($event)" />
    <div :class="rowClass">
      <ProductListItem v-for="product in products" :key="product.id" :product="product" />
    </div>
  </section>
</template>

<script>
import ProductListItem from '../List/Item';
import Header from '../List/Header';

export default {
  name: 'ProductList',
  props: ['products'],
  data() {
    return {
      listingCount: 4,
    };
  },
  components: {
    ProductListItem,
    Header,
  },
  methods: {
    changedListingCount(listingCount) {
      this.listingCount = listingCount;
    },
    changedSort(event) {
      if (event.id === 4) {
        this.products = this.products.sort((a, b) => {
          return a.newPrice < b.newPrice ? -1 : 1;
        });
      } else if (event.id === 5) {
        this.products = this.products.sort((a, b) => {
          return a.newPrice < b.newPrice ? 1 : -1;
        });
      }
    },
  },
  computed: {
    rowClass() {
      return `products-row-${this.listingCount}`;
    },
  },
};
</script>

<style lang="postcss" scoped>
.products-row {
  &-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
  }

  &-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px;
  }
}
</style>
