<template>
  <article class="contracts-and-forms">
    <h4>Sözleşmeler ve Formlar</h4>
    <ContractsAndFormsItem v-for="contract in contracts" :key="contract.id" :contract="contract" />
  </article>
</template>

<script>
import ContractsAndFormsItem from './item';
export default {
  name: 'ContractAndForms',
  components: {
    ContractsAndFormsItem,
  },
  data() {
    return {
      contracts: [
        {
          id: 1,
          header: 'Cayma Hakkı',
          content: `Teslimat tarihinden itibaren 15 gün içerisinde iade edebilirsiniz.
Nasıl İade Ederim?
trendyol.com ve mobile uygulamalarda yer alan "Hesabım" bölümünden "Siparişlerime" gidin.
"Sipariş detay" butonuna basın ve siparişinizin detaylarını görüntüleyin.
Kolay iade butonuna basın.
İade edilecek ürün ve iade nedeni seçin. Aynı üründen birden fazla satın aldıysanıziade edilecek ürün adedini de seçmeniz gerekir.
Birden fazla kargo seçeneği çıktığı durumda kargo seçiminizi yapın.
Ekranda çıkan iade kargo kodunu not alın.
İade kargo kodunuza siparişlerim sayfasından ve üyelik mail adresinize gönderilen bilgilendirme mesajından daulaşabilirsiniz.
İade edilecek ürünler ile birlikte faturayı tek bir pakete koyun.Paketi iade kargo koduyla birlikte seçtiğiniz kargoya 7 gün içinde teslim edin. 7 günü geçirdiğiniz durumda `,
        },
        {
          id: 2,
          header: 'Önbilgilendirme Formu',
          content: `ÖN BİLGİLENDİRME FORMU (Sarissal)
1. TARAFLAR VE KONU
İşbu Ön Bilgilendirme Formu’nun konusu, internet ürün satın alacak kişi ("ALICI") ile Maslak Mahallesi Büyükdere Caddesi (Spine Plaza) No: 243 İç Kapı No:19 Sarıyer/İstanbul adresinde bulunan DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş. ("SATICI") arasındaki mesafeli sözleşmeye ilişkin tüketicilerin Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri uyarınca bilgilendirilmesidir. Ayrıca Mesafeli Sözleşmeler Yönetmeliği uyarınca 5/1 a, d, g ve h maddelerindeki hususlara ilişkin bilgiler işbu Ön bilgilendirme Formu’nda yer almaktadır.

2. SATICI BİLGİLERİ
Ünvanı	:	DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş.
Adresi	:	Maslak Mahallesi Büyükdere Caddesi (Spine Plaza) No: 243 İç Kapı No:19 Sarıyer/İstanbul`,
        },
        {
          id: 3,
          header: 'Mesafeli Satış Sözleşmesi',
          content: `MESAFELİ SATIŞ SÖZLEŞMESİ ("Sözleşme")
1. TARAFLAR
İşbu Mesafeli Satış Sözleşmesi ("Sözleşme"); adresi 6. maddede belirtilen ("ALICI") ile Maslak Mahallesi Büyükdere Caddesi (Spine Plaza) No: 243 İç Kapı No:19 Sarıyer/İstanbul adresinde bulunan DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş. ("SATICI") arasında aşağıda belirtilen hüküm ve şartlar çerçevesinde elektronik ortamda kurulmuştur.

2. TANIMLAR
İşbu Sözleşme’nin uygulanmasında ve yorumlanmasında aşağıda yazılı terimler karşılarındaki yazılı açıklamaları ifade edeceklerdir.

ALICI	:	Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan veya yararlanan gerçek ya da tüzel kişiyi,
Bakanlık	:	Ticaret Bakanlığı’nı,
Hizmet	:	Bir ücret veya menfaat karşılığında yapılan ya da yapılması taahhüt edilen mal sağlama dışındaki her türlü tüketici işleminin konusu,
İnternet Sitesi	:	SATICI’ya ait www.trendyol.com adlı internet sitesini,
Kanun	:	Tüketicinin Korunması Hakkında Kanun’u,
SATICI	:	Kamu tüzel kişileri de dahil olmak üzere ticari veya mesleki amaçlarla tüketiciye mal sunan ya da mal sunanın adına ya da hesabına hareket eden gerçek veya tüzel kişiyi,
Sipariş Veren	:	Bir mal veya hizmeti SATICI’ya ait www.trendyol.com adlı internet sitesi üzerinden talep eden gerçek ya da tüzel kişiyi,
Sözleşme	:	SATICI ve ALICI arasında akdedilen işbu Sözleşme’yi,
Taraflar	:	SATICI ve ALICI’yı,
Ürün veya Ürünler	:	Alışverişe konu olan taşınır eşya, konut veya tatil amaçlı taşınmaz mallar ile elektronik ortamda kullanılmak üzere hazırlanan yazılım, ses, görüntü ve benzeri her türlü ürünleri, ifade eder.
Yönetmelik	:	Mesafeli Satışlar Yönetmeliği’ni,
3. KONU
İşbu Sözleşme 6502 Sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği'ne uygun olarak düzenlenmiştir. Taraflar işbu Sözleşme tahtında 6502 Sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği'nden kaynaklanan yükümlülük ve sorumluluklarını bildiklerini ve anladıklarını kabul ve beyan ederler. İşbu Sözleşme’nin konusu; ALICI’nın, SATICI’ya ait internet sitesi üzerinden elektronik ortamda siparişini verdiği aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince Taraflar’ın hak ve yükümlülüklerin belirlenmesidir. Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise belirtilen süre sonuna kadar geçerlidir.

4. ALICI'NIN ÖNCEDEN BİLGİLENDİRİLDİĞİ HUSUSLAR
4.1. ALICI, aşağıdaki hususlarda, bu Sözleşme'nin ALICI tarafından İnternet Sitesi'nde kabulü ile kurulmasından ve gerek siparişi gerek ödeme yükümlülüğü altına girmesinden önce İnternet Sitesi'nin ilgili sayfaları-kısımlarındaki tüm genel-özel açıklamaları incelediğini, okuduğunu, anladığını ve kendisine gerekli bilgilendirmenin yapıldığını kabul eder.

a) SATICI'nın unvanı ve iletişim bilgileri ile güncel tanıtıcı bilgileri,

b) Ürünler'in İnternet Sitesi'nden alınması sırasındaki satış işlemi aşamaları ile yanlış girilen bilgilerin düzeltilmesine ilişkin amaca uygun araçlar-yöntemler,

c) SATICI'nın mensubu olduğu Meslek Odası (İTO-İstanbul Ticaret Odası) ve ITO'nun meslek ile ilgili öngördüğü davranış kuralları bilgisinin edinebileceği elektronik iletişim bilgileri (Telefon: 444 0 486, www.ito.org.tr)

d) SATICI tarafından uygulanan ALICI bilgileri için geçerli gizlilik, veri kullanımı-işleme ve ALICI'ya elektronik iletişim kuralları ile ALICI'nın bu hususlarda SATICI'ya verdiği izinler, ALICI'nın kanuni hakları, SATICI'nın hakları ve tarafların haklarını kullanım usulleri,

e) Ürünler için SATICI tarafından öngörülen gönderim kısıtlamaları,

f) Sözleşme konusu Ürünler için SATICI tarafından kabul edilen ödeme yöntem-araçları ile Ürünler'in temel özellik-nitelikleri, vergiler dahil toplam fiyatı (ilgili masraflar da dahil olmak üzere ALICI'nın SATICI'ya ödeyeceği toplam bedel),

g) Ürünler'in ALICI'ya teslimine ilişkin usuller ile nakliye-teslim-kargo masrafları hakkında bilgiler,

h) Ürünler ile ilgili diğer ödeme/tahsilat ve teslimat bilgileri ile Sözleşme'nin ifasına ilişkin bilgiler, bu hususlarda Taraflar’ın sorumlulukları,

i) ALICI'nın cayma hakkına sahip olmadığı Ürünler ve diğer mal-hizmetler,

j) ALICI'nın cayma hakkının olduğu durumlarda bu hakkını kullanma şartları, süresi ve usulü ile hakkın süresinde kullanılmaması durumunda ALICI'nın cayma hakkını kaybedeceği,

k) Cayma hakkı olan Ürünler'de, Ürün cayma süresi içinde kullanım talimatlarına, olağan işleyişine veya teknik özelliklerine uygun kullanılmamasından ötürü bozulduğu veya bir değişikliğe uğradığı takdirde ALICI'nın cayma talebinin kabul edilmeyebileceği ve her durumda SATICI'ya karşı sorumlu olacağı, SATICI'nın kabul ettiği hallerde söz konusu bozukluğa veya değişime göre uygun bulduğu bir tutarı ALICI'ya yapacağı geri ödemeden mahsup edebileceği,

l) Cayma hakkının bulunduğu durumlarda Ürünleri SATICI'ya ne şekilde iade edebileceği ve ilgili tüm mali hususlar (iade yolları, masrafı ve Ürün bedelinin iadesi ve iade sırasında, ALICI tarafından kazanılmış/kullanılmış ödül puanları için yapılabilecek indirim ve mahsuplar dahil),

m) ALICI’nın İnternet Sitesi’nde dönem dönem uygulanabilecek çeşitli fırsatlara ilişkin yararlanma koşullarının (özel şartlar) detaylarını,

n) Mahiyetine göre bu Sözleşme'de de yer alan diğer tüm satış şartları ile işbu Sözleşme ALICI tarafından İNTERNET SİTESİ'nde onaylanarak kurulduktan sonra ALICI'ya elektronik posta ile gönderildiğinden ALICI tarafından istenen süre ile saklanıp buradan erişilebileceği, SATICI'nın da üç yıl süre ile nezdinde saklayabileceği.

o) Uyuşmazlık hallerinde ALICI'nın SATICI'ya şikayetlerini iletebileceği iletişim bilgileri ile yasal başvurularını, 6502 Sayılı Kanun'un ilgili hükümlerine uygun olarak İlçe/İl Hakem Heyetlerine ve Tüketici Mahkemeleri'ne yapabileceği.

5. SATICI BİLGİLERİ
Ünvanı	:	DSM Grup Danışmanlık İletişim ve Satış Ticaret A.Ş.
Adresi	:	Maslak Mahallesi Büyükdere Caddesi (Spine Plaza) No: 243 İç Kapı No:19 Sarıyer/İstanbul
Mersis	:	0313055766900016
Telefon	:	0 212 331 0 200
Fax	:	0 212 332 18 93
E-posta adresi	:	destek@trendyol.com
6. ALICI BİLGİLERİ
Teslim Edilecek Kişi	:	Onur Deliceli
Teslimat Adresi	:	Mareşal Çakmak Mah. Azak sokak No:28 Daire:7 34/ İstanbul
Telefon	:	506*****10
Faks	:	-
E-posta/Kullanıcı Adı	:	onurdeliceli@gmail.com
7. SİPARİŞ VEREN KİŞİ BİLGİLERİ
Adı/Soyadı/Unvanı	:	
Adres	:	Mareşal Çakmak Mah. Azak sokak No:28 Daire:7 34/ İstanbul
Telefon	:	
Faks	:	-
E-posta/Kullanıcı Adı	:	onurdeliceli@gmail.com
8. FATURA BİLGİLERİ
Adı/Soyadı/Unvanı	:	Onur Deliceli
Adres	:	Mareşal Çakmak Mah. Azak sokak No:28 Daire:7 / İstanbul
Telefon	:	506*****10
Faks	:	-
E-posta/Kullanıcı Adı	:	onurdeliceli@gmail.com
Fatura Teslim: Fatura sipariş teslimatı sırasında teslimat adresine sipariş ile birlikte teslim edilecektir.

9. SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER BİLGİLERİ
9.1. Malın/Ürün/Ürünlerin/ Hizmetin temel özelliklerini (türü, miktarı, marka/modeli, rengi, adedi) SATICI’ya ait internet sitesinde yer almaktadır. Ürünün temel özelliklerini kampanya süresince inceleyebilirsiniz.

9.2. Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise belirtilen süre sonuna kadar geçerlidir.

9.3. Sözleşme konusu mal ya da hizmetin tüm vergiler dâhil satış fiyatı aşağıdaki tabloda gösterilmiştir.

Ürün Açıklaması	Adet	Peşin Fiyatı	Ara Toplam (KDV Dahil)
Siyah Bürümcüklü Yüksek Bel ve Yüksek Paça Tek Beden Bikini Altı MLWSS19TM1480	1	49,99 TL	49,99 TL
Kargo Tutarı	-	9,99 TL	9,99 TL
 	 	Toplam	59,98 TL
Teslimat Adresi	:	Mareşal Çakmak Mah. Azak sokak No:28 Daire:7 34/ İstanbul
Teslim Edilecek Kişi	:	Onur Deliceli
Fatura Adresi	:	Mareşal Çakmak Mah. Azak sokak No:28 Daire:7 / İstanbul
Sipariş Tarihi	:	13.06.2020
Teslim Şekli	:	Alıcıya Teslim
9.4. Ürün sevkiyat masrafı olan kargo ücreti, diğer her türlü vergi, resim harç gibi ek ücretler ALICI tarafından ödenecektir.

10. GENEL HÜKÜMLER
10.1. ALICI, İnternet Sitesi’nde Sözleşme konusu Ürün’ün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin ön bilgileri okuyup, bilgi sahibi olduğunu, elektronik ortamda gerekli teyidi verdiğini kabul, beyan ve taahhüt eder. ALICI’nın; Ön Bilgilendirmeyi elektronik ortamda teyit etmesi, mesafeli satış sözleşmesinin kurulmasından evvel, SATICI tarafından ALICI'ya verilmesi gereken adresi, siparişi verilen ürünlere ait temel özellikleri, ürünlerin vergiler dâhil fiyatını, ödeme ve teslimat bilgilerini de doğru ve eksiksiz olarak edindiğini kabul, beyan ve taahhüt eder.

10.2. Sözleşme konusu her bir ürün, 30 günlük yasal süreyi aşmamak kaydı ile ALICI'nın yerleşim yeri uzaklığına bağlı olarak internet sitesindeki ön bilgiler kısmında belirtilen süre zarfında ALICI veya ALICI’nın gösterdiği adresteki kişi ve/veya kuruluşa teslim edilir. Bu süre içerisinde edimini yerine getirmemesi durumunda ALICI Sözleşme'yi feshedebilir. İnternet sitesinde “tahmini teslimat tarihi” şeklinde belirtilen ürünlerin, teslimat tarihi tahmini olarak belirtilmiş olup bu ifade herhangi bir taahhüt içermemektedir. Bu ürünler mevzuatta belirtildiği üzere en geç 30 gün içerisinde ALICI’ya teslim edilecektir.

10.3. SATICI, Sözleşme konusu ürünü eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri, kullanım kılavuzları işin gereği olan bilgi ve belgeler ile teslim etmeyi, her türlü ayıptan arî olarak yasal mevzuat gereklerine göre sağlam, standartlara uygun bir şekilde işi doğruluk ve dürüstlük esasları dâhilinde ifa etmeyi, hizmet kalitesini koruyup yükseltmeyi, işin ifası sırasında gerekli dikkat ve özeni göstermeyi, ihtiyat ve öngörü ile hareket etmeyi kabul, beyan ve taahhüt eder.

10.4. SATICI, Sözleşme'den doğan ifa yükümlülüğünün süresi dolmadan ALICI’yı bilgilendirmek ve açıkça onayını almak suretiyle eşit kalite ve fiyatta farklı bir ürün tedarik edebilir.`,
        },
      ],
    };
  },
};
</script>

<style lang="postcss" scoped>
.contracts-and-forms {
  background: #f6f6f6;
  padding: 24px 47px;

  h4 {
    margin-bottom: 30px;
  }
}
</style>
