<template>
  <article class="contract">
    <h5>{{ contract.header }}</h5>

    <article class="content" v-html="contract.content"></article>
  </article>
</template>

<script>
export default {
  name: 'ContractsAndFormsItem',
  props: {
    contract: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="postcss" scoped>
.contract {
  h5 {
    margin-bottom: 6px;
  }

  .content {
    color: #292929;
    background: #fff;
    font-size: 12px;
    border: 1px solid #cecece;
    padding: 20px;
    margin-bottom: 24px;
    overflow-y: scroll;
    max-height: 156px;
  }
}
</style>
