<template>
  <NavbarMobile v-if="$device.isMobile" />
  <NavbarDesktop v-else />
</template>

<script>
import NavbarDesktop from '~/components/Header/Navbar/NavbarDesktop';
import NavbarMobile from '~/components/Header/Navbar/NavbarMobile';

export default {
  name: 'Navbar',
  components: { NavbarMobile, NavbarDesktop },
};
</script>
