<template>
  <div class="navbar-container" @mouseleave="onMouseLeave()">
    <div class="row">
      <div class="col-2 logo d-flex v-center">
        <nuxt-link to="/">
          <IconLogoWithText />
        </nuxt-link>
      </div>
      <div class="col-6">
        <b-nav>
          <li
            class="nav-item"
            :key="category.id"
            v-for="category in categories"
            :class="{
              'menu-hover': hoveredCategory.name === category.name || (!hoveredCategory.name && $route.path === `/${category.slug}`),
            }"
            @mouseover="onMouseOver(category)"
            @click="onMouseLeave"
          >
            <nuxt-link :to="`/${category.slug}`" class="nav-link">
              {{ category.text }}
            </nuxt-link>
          </li>
        </b-nav>
      </div>
      <div class="col-4 d-flex v-center h-end search">
        <div class="d-flex v-center h-center input">
          <input type="text" class="search-input" />
          <IconSearch />
        </div>
        <div class="shopping-bag">
          <IconShoppingBag id="shoppingBagIcon" />
          <div id="shoppingBagBadge" class="badge">5</div>

          <BasketCard />
        </div>
      </div>
    </div>

    <SidebarDesktop :megaMenuCategories="hoveredCategory.megaMenuCategories" />
  </div>
</template>

<script>
import SidebarDesktop from '~/components/Header/Navbar/Sidebar/SidebarDesktop';

import IconLogoWithText from '@/assets/icons/IconLogoWithText.svg';
import IconShoppingBag from '@/assets/icons/IconShoppingBag.svg';
import IconSearch from '@/assets/icons/IconSearch.svg';

import BasketCard from '../../Basket/BasketCard';

import { mapState } from 'vuex';

export default {
  name: 'NavbarDesktop',
  components: {
    SidebarDesktop,
    IconLogoWithText,
    IconShoppingBag,
    IconSearch,
    BasketCard,
  },
  data() {
    return {
      hoveredCategory: {},
      basketOpened: false,
    };
  },
  computed: {
    ...mapState(['categories']),
  },
  methods: {
    onMouseOver(category) {
      this.hoveredCategory = category;
    },
    onMouseLeave() {
      this.hoveredCategory = {};
    },
    toggleBasket() {
      this.basketOpened = !this.basketOpened;
    },
  },
};
</script>

<style lang="postcss" scoped>
.navbar-container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 8px 0 12px 0;
  background: var(--white);

  .row {
    border-bottom: var(--passive) 1px solid;
    margin: auto 0;
  }

  .logo {
    padding-right: 0;
  }

  .nav .nav-item {
    a {
      color: var(--text-black);
      font-size: 16px;
      text-transform: uppercase;
    }

    .nav-link {
      padding: 0.5rem 1rem;
    }
  }

  .search {
    svg {
      cursor: pointer;
    }

    .input {
      svg {
        width: 1rem;
        height: 1rem;
        margin-left: -1.5rem;
      }

      input {
        background: var(--info-gray);
        border: none;
        border-radius: 4px;
        font-size: 16px;
        width: 270px;
        padding: 8px 1.5rem 8px 16px;
      }
    }

    .shopping-bag {
      width: 1.5rem;
      margin-left: 2rem;
      position: relative;

      .badge {
        cursor: pointer;
        user-select: none;
        position: absolute;
        top: 2px;
        right: -4px;
        width: 17px;
        height: 17px;
        background: #ff4848;
        border: 1.5px solid #ffffff;
        border-radius: 50%;
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
</style>
