<template>
  <div class="basket-item">
    <img class="img" src="http://placeimg.com/540/757/fashion" />
    <div class="content">
      <div class="product-detail">
        <p class="product-code">123</p>
        <h6 class="product-name">Ada Vintage Jean Pantolon</h6>
        <div class="size">Beden: 31 / 34</div>
      </div>
      <div class="actions">
        <button>
          <IconHearth transparent :isActive="false" />
          Daha Sonra Al
        </button>
        <button>
          <IconTrash class="trash" />
          Sil
        </button>
      </div>
    </div>
    <div class="unit">
      <div class="icon minus">
        <IconMinus />
      </div>
      <h6>2</h6>
      <div class="icon plus">
        <IconPlus />
      </div>
    </div>
    <h5 class="price">129,99 TL</h5>
  </div>
</template>

<script>
import IconTrash from '../../../assets/icons/IconTrash.svg';
import IconHearth from '../../../assets/icons/IconHeart';
import IconPlus from '../../../assets/icons/IconPlus.svg';
import IconMinus from '../../../assets/icons/IconMinus.svg';

export default {
  name: 'MyBasketListItem',
  components: {
    IconTrash,
    IconHearth,
    IconPlus,
    IconMinus,
  },
};
</script>

<style lang="postcss" scoped>
.basket-item {
  display: grid;
  grid-template-columns: 108px 330px 92px 138px;
  column-gap: 20px;

  .img {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-code {
      color: #666666;
      font-size: 12px;
      margin: 0;
    }

    .product-name {
      color: #292929;
      font-size: 16px;
      margin-bottom: 4px;
    }

    .size {
      color: #292929;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .actions {
    display: flex;

    button {
      color: #101010;
      font-size: 12px;
      background: #f6f6f6;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 12px;

      &:not(:first-child) {
        margin-left: 10px;
      }

      .trash {
        margin-right: 12px;
      }
    }
  }

  .unit {
    display: flex;
    justify-content: center;
    border-radius: 4px;

    .icon {
      width: 24px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f2f2f2;
      cursor: pointer;
    }

    h6 {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 0 17px;
      border-top: #f2f2f2 2px solid;
      border-bottom: #f2f2f2 2px solid;
    }

    .plus {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .minus {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .price {
    font-weight: 600;
    line-height: 25px;
    padding-top: 3.5px;
    display: flex;
    justify-content: flex-end;
  }
}
</style>
