<template>
  <div class="basket-list">
    <MyBasketListItem />
    <MyBasketListItem />
    <MyBasketListItem />
  </div>
</template>

<script>
import MyBasketListItem from './MyBasketListItem';
export default {
  name: 'MyBasketList',
  components: {
    MyBasketListItem,
  },
};
</script>

<style lang="postcss">
.basket-list {
  .basket-item {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

    &:first-child {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding-top: 20px;
    }
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
    }
  }
}
</style>
