<template>
  <div class="checkout">
    <AddAddressModal v-if="modals.addAddress" @saved="modals.addAddress = false" @closed="modals.addAddress = false" />

    <div class="address">
      <h1>Siparişi Tamamla</h1>
      <div class="description">Lütfen adres bilgilerinizi ve ödeme seçeneğinizi belirtiniz.</div>

      <div class="current-addresses">
        <CheckoutCard :isAddress="true" :address="address" :selected="inSave" />
        <CheckoutCard :isPayment="true" :payment="payment" :selected="!inSave" />
      </div>

      <div v-if="inSave" class="list-addresses">
        <ListAddresses name="Teslimat Adresi" class="left" @addAddress="modals.addAddress = true" />
        <ListAddresses name="Fatura Adresi" class="right" :sameInvoice="true" @addAddress="modals.addAddress = true" />
      </div>

      <div v-if="!inSave" class="payment-list">
        <CardInfo class="left" />
        <PaymentOptions class="right" />
      </div>

      <ContractsAndForms v-if="!inSave" />
    </div>
    <div class="continue">
      <a v-if="inSave" @click="saveCheckout()">
        <BlackButton text="Kaydet ve Devam Et" />
      </a>
      <a v-if="!inSave">
        <nuxt-link to="/siparis-basarili">
          <BlackButton class="bottom-continue" text="Ödeme Yap" />
        </nuxt-link>
      </a>
      <div class="accept-contacts">
        <input type="checkbox" />
        <label> <a>Önbilgilendirme Koşulları</a>’nı ve <a>Mesafeli Satış Sözleşmesi</a>’ni okudum, Onaylıyorum. </label>
      </div>
      <BasketTicketCard :continue="true" :hideButton="true" />
      <a v-if="inSave" @click="saveCheckout()">
        <BlackButton class="bottom-continue" text="Kaydet ve Devam Et" />
      </a>
      <a v-if="!inSave">
        <nuxt-link to="/siparis-basarili">
          <BlackButton v-if="!inSave" class="bottom-continue" text="Ödeme Yap" />
        </nuxt-link>
      </a>
    </div>
  </div>
</template>

<script>
import CheckoutCard from '../../components/Address/CheckoutCard';
import ListAddresses from '../../components/Address/ListAddresses';
import BasketTicketCard from '../../components/Basket/BasketTicketCard';
import BlackButton from '../../components/Buttons/BlackButton';

import CardInfo from '../../components/Payment/CardInfo';
import PaymentOptions from '../../components/Payment/PaymentOptions/index';
import ContractsAndForms from '../../components/ContractsAndForms/index';

import AddAddressModal from '../../components/ModalForms/addAddresModal';

export default {
  name: 'Checkout',
  components: {
    CheckoutCard,
    ListAddresses,
    BasketTicketCard,
    BlackButton,
    CardInfo,
    PaymentOptions,
    ContractsAndForms,
    AddAddressModal,
  },
  data() {
    return {
      modals: {
        addAddress: false,
      },
      inSave: true,
      address: {
        name: 'Ev Adresi',
        description: 'Mareşal Çakmak Mah. Azak sokak NO: 28 Daire:7 İstanbul / Güngören',
        invoiceAddress: 'Ev Adresi',
      },
      payment: {
        name: 'Finansbank',
        description: '5769 11 ** **** 6684',
        lastDate: '12 / 2024',
      },
    };
  },
  methods: {
    saveCheckout() {
      this.inSave = false;
    },
  },
};
</script>

<style lang="postcss" scoped>
.checkout {
  display: grid;
  grid-template-columns: 731px 350px;
  column-gap: 29px;

  .address {
    h1 {
      font-weight: 600;
      margin-bottom: 6px;
    }

    .description {
      color: #292929;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .current-addresses {
      display: grid;
      grid-template-columns: 365px 365px;
      margin-bottom: 30px;
      border-bottom: 4px solid #f2f2f2;
    }

    .list-addresses,
    .payment-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 60px;

      .left {
        padding-right: 15px;
        border-right: 1px solid #f2f2f2;
      }

      .right {
        padding-left: 15px;
      }
    }
  }

  .continue {
    .accept-contacts {
      background: #f6f6f6;
      display: flex;
      align-items: center;
      padding: 20px 40px;
      margin-bottom: 20px;

      input {
        margin-right: 10px;
        transform: scale(1.846);
      }

      label {
        font-size: 12px;
        margin: 0;

        a {
          color: #2860f0;
          text-decoration: underline;
        }
      }
    }

    .bottom-continue {
      margin-top: 14px;
    }
  }
}
</style>
