<template>
  <div class="sidebar-container d-flex h-center v-center w-100" :style="visibleSidebar">
    <div v-if="megaMenuCategories" class="categories">
      <div v-for="megaMenuCategory in megaMenuCategories.categories" class="category">
        <h6>{{ megaMenuCategory.name }}</h6>
        <ul>
          <li v-for="megaMenuCategoryItem in megaMenuCategory.items">
            <nuxt-link :to="megaMenuCategoryItem.slug">
              {{ megaMenuCategoryItem.label }}
            </nuxt-link>
          </li>
        </ul>
      </div>

      <article v-for="megaMenuCategory in megaMenuCategories.images" class="image-category">
        <a href="#">
          <img :src="megaMenuCategory.imageUrl" />
          <span>{{ megaMenuCategory.label }}</span>
        </a>
      </article>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SidebarDesktop',
  props: ['megaMenuCategories'],
  computed: {
    visibleSidebar() {
      return {
        display: this.megaMenuCategories ? 'flex!important' : 'none!important',
      };
    },
  },
};
</script>

<style lang="postcss" scoped>
.sidebar-container {
  position: absolute;
  left: 0;
  background: inherit;
  z-index: 1111;
  padding-bottom: 44px;
}

.categories {
  display: flex;
  justify-content: flex-end;
  padding-top: 64px;
  padding-right: calc(2rem + 24px);

  .category {
    margin-right: 50px;

    h6 {
      font-weight: var(--semi-bold);
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-top: 12px;

        a {
          color: var(--text-black);
        }
      }
    }
  }

  .image-category {
    position: relative;
    text-align: center;
    margin-left: 20px;

    span {
      font-size: 14px;
      font-weight: var(--bold);
      color: var(--white);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }
}
</style>
