<template>
  <div class="banner">
    <img :src="photoUrl" />
  </div>
</template>
<script>
export default {
  name: 'Banner',
  props: {
    photoUrl: {
      type: String,
      required: true,
    },
    navigateUrl: {
      type: String,
      required: true,
    },
  },
};
</script>
<style lang="postcss" scoped>
.banner {
  margin: auto;
  text-align: center;
  cursor: pointer;
  margin: 50px 0;
}
</style>
