<template>
  <div v-if="$route.path != '/'" class="bread-crumb">
    <span v-for="(page, index) in pages" :key="page">
      {{ page }}
      <IconPolygon v-if="pages.length > 0 && index < pages.length - 1" class="poly" />
    </span>
  </div>
</template>

<script>
import IconPolygon from '../assets/icons/IconPolygon.svg';

export default {
  name: 'BreadCrumb',
  components: { IconPolygon },
  data() {
    return {
      pages: [],
    };
  },
  created() {
    this.pages = ['Anasayfa', this.$route.params.category, this.$route.params.subcategory];
  },
  watch: {
    $route(newVal, oldVal) {
      this.pages = ['Anasayfa', newVal.params.category, newVal.params.subcategory];
    },
  },
};
</script>

<style lang="postcss" scoped>
.bread-crumb {
  width: var(--container-width);
  margin: 0 auto 20px auto;

  span {
    color: var(--gray-50);
    font-size: 12px;
    font-weight: var(--bold);
    margin-right: 14px;
    text-transform: captalize;
  }

  .poly {
    width: 6px;
    margin-left: 14px;
  }
}
</style>
