<template>
  <div class="footer">
    <hr />
    <footer class="d-flex h-space p-0">
      <div>
        <ul class="m-0 p-0">
          <li>
            <IconLogoWithText />
          </li>
          <li class="sarissa">© 2020 Sarissa</li>
          <li>Sarissa Üyelik Sözleşmesi</li>
          <li>Sarissa Çerez Politikası</li>
          <li>KVKK Aydınlatma Metni</li>
          <li>
            <IconTekansLogo />
          </li>
        </ul>
      </div>
      <div>
        <ul class="m-0 p-0">
          <li>Sarissa Company</li>
          <li>İletişim</li>
          <li>Hakkımızda</li>
          <li>Görüş ve Önerileriniz</li>
          <li>Sipariş sorgulama</li>
          <li class="header">
            <h6>Sosyal Bağlantılar</h6>
            <hr />
            <div class="d-flex v-center h-space">
              <IconFacebook />
              <IconTwitter />
              <IconInstagram />
              <IconYoutube />
            </div>
          </li>
        </ul>
      </div>
      <div>
        <ul class="m-0 p-0">
          <li>İade ve Değişim</li>
          <li>Sıkça Sorulan Sorular</li>
          <li>İşlem Rehberi</li>
          <li>Bize Ulaşın</li>
        </ul>
      </div>
      <div>
        <ul class="m-0 p-0">
          <li class="header">
            <h6>İletişim</h6>
            <hr />
          </li>
          <li class="info">
            Çalışma Saatleri <br />
            08:00 - 00:00 <br />
            0216 321 45 64 <br />
            bilgi@sarissa.com
          </li>
          <li class="store">
            <IconAppStore />
            App Store
          </li>
          <li class="store">
            <IconGooglePlay />
            Play Store
          </li>
        </ul>
      </div>
    </footer>
  </div>
</template>
<script>
import IconLogoWithText from '../assets/icons/IconLogoWithText.svg';
import IconTekansLogo from '../assets/icons/IconTekansLogo.svg';

import IconFacebook from '../assets/icons/IconFacebook.svg';
import IconTwitter from '../assets/icons/IconTwitter.svg';
import IconInstagram from '../assets/icons/IconInstagram.svg';
import IconYoutube from '../assets/icons/IconYoutube.svg';
import IconAppStore from '../assets/icons/IconAppStore.svg';
import IconGooglePlay from '../assets/icons/IconGooglePlay.svg';

export default {
  name: 'Footer',
  components: {
    IconLogoWithText,
    IconTekansLogo,
    IconFacebook,
    IconTwitter,
    IconInstagram,
    IconYoutube,
    IconAppStore,
    IconGooglePlay,
  },
};
</script>
<style lang="postcss" scoped>
.footer {
  width: var(--container-width);
  margin: auto;
}
footer {
  width: 856px;
  margin: 0 auto 47px auto;

  ul {
    list-style: none;

    li {
      color: var(--text-black);
      font-size: 14px;
      margin-top: 14px;

      &.store {
        font-family: 'Montserrat';
        font-size: 15px;
      }

      &.info {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .header {
      h6 {
        color: var(--soft-black);
        font-size: 1rem;
        font-weight: var(--semi-bold);
      }

      hr {
        border-color: var(--soft-black);
      }
    }
  }

  .sarissa {
    color: var(--text-black);
    font-size: 15px;
    font-weight: var(--semi-bold);
    margin-top: 26px;
  }
}
</style>
