<template>
  <div class="lets-register">
    <h1>Kaydolun</h1>
    <div class="description">
      Hala Sarissa.com hesabınız yoksa, kayıt formuna erişmek için bu seçeneği kullanın. <br /><br />
      <span>Üye ol</span> yenilikleri, kampanyaları ve indirimleri kaçırma!
    </div>

    <div class="list">
      <div class="list-item">
        <IconRepeat />
        Ücretsiz İade ve Değişim
      </div>
      <div class="list-item">
        <IconCreditCard />
        Güvenli Ödeme
      </div>
      <div class="list-item">
        <IconTruck2 />
        Aynı Gün Kargo
      </div>
      <div class="list-item">
        <IconGift />
        Sarissa Kart ile Sürpriz Hediyeler
      </div>
    </div>

    <nuxt-link to="/kayit-ol">
      <BlackButton text="ÜYE OL" />
    </nuxt-link>
  </div>
</template>

<script>
import IconCreditCard from '../assets/icons/IconCreditCard.svg';
import IconGift from '../assets/icons/IconGift.svg';
import IconRepeat from '../assets/icons/IconRepeat.svg';
import IconTruck2 from '../assets/icons/IconTruck2.svg';

import BlackButton from './Buttons/BlackButton';

export default {
  name: 'LetsRegister',
  components: {
    IconCreditCard,
    IconGift,
    IconRepeat,
    IconTruck2,
    BlackButton,
  },
};
</script>

<style lang="postcss" scoped>
.lets-register {
  h1 {
    margin-bottom: 14px;
  }

  .description {
    color: #101010;
    font-size: 16px;
    margin-bottom: 25px;

    span {
      font-weight: bold;
    }
  }

  .list {
    .list-item {
      margin-bottom: 15px;
      font-size: 16px;
      color: #292929;

      svg {
        margin-right: 12.5px;
      }
    }
  }
}
</style>
