<template>
  <div class="slider-container">
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      indicators
      img-width="1024"
      img-height="480"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <b-carousel-slide v-for="_slide in slides" :key="_slide.id" :img-src="_slide.photoUrl">
        <div class="slide-header">{{ _slide.text }}</div>
        <div class="slide-link d-flex v-center h-center">
          <a :href="_slide.url">{{ _slide.urlText }}</a
          ><IconChevronRight />
        </div>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
import IconChevronRight from '@/assets/icons/IconChevronRight.svg';

export default {
  name: 'Slider',
  components: { IconChevronRight },
  data() {
    return {
      slide: 0,
      sliding: null,
      slides: [
        {
          id: 1,
          text: 'WINTER COLLECTION 1',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
        {
          id: 2,
          text: 'WINTER COLLECTION 2',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
        {
          id: 3,
          text: 'WINTER COLLECTION 3',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
        {
          id: 4,
          text: 'WINTER COLLECTION 4',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
        {
          id: 5,
          text: 'WINTER COLLECTION 5',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
        {
          id: 6,
          text: 'WINTER COLLECTION 6',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
        {
          id: 7,
          text: 'WINTER COLLECTION 7',
          urlText: 'KOLEKSIYONA GOZ AT',
          url: '#',
          photoUrl: 'https://picsum.photos/1024/480/?image=52',
        },
      ],
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
    click(index) {
      this.slide = index;
    },
  },
  created() {},
};
</script>

<style lang="postcss" scoped>
.slider-container {
  padding: 8px 0;
  margin: 0 auto;
}

.indicators {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;

  div {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #7c7c7c;
    margin: 0 5px;
    transition: var(--transition);
    cursor: pointer;
  }

  .active {
    background: #f2f2f2;
  }
}
</style>
