<template>
  <div class="spinner d-flex h-center v-center">
    <div class="on d-flex h-center v-center">
      <LogoSpinner />
    </div>
  </div>
</template>
<script>
import LogoSpinner from '../assets/img/Logo.svg';

export default {
  name: 'Spinner',
  components: {
    LogoSpinner,
  },
};
</script>
<style lang="postcss">
.spinner {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.5);
  z-index: 111;

  .on {
    width: 128px;
    height: 128px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 12px;
  }
}
</style>
