<template>
  <div class="story-container d-flex v-center">
    <article v-for="story in stories" :key="story.id" @click="selectStory(story)">
      <figure>
        <img :src="story.imageUrl" />
      </figure>
    </article>

    <article v-if="modals.story" class="story-opened-container">
      <div class="story-top">
        <div class="story-owner">
          <img class="story-photo" src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Brad_Pitt_2019_by_Glenn_Francis.jpg" />
          <h6 class="story-owner-name">Brad Pitt</h6>
        </div>
        <a @click="closeStory()">
          <IconCloseWhite />
        </a>
      </div>
      <div class="story-content">
        <img :src="selectedStory.imageUrl" :class="{ blur: modals.register }" />

        <div v-if="modals.register" class="register-modal">
          <h5 class="text">
            Hikayeleri görüntülemeye <br />
            devam etmek istiyorsan
          </h5>
          <nuxt-link to="/kayit-ol">
            <BlackButton text="KAYIT OL" style="font-size: 22px; border-radius: 0px" />
          </nuxt-link>
        </div>
      </div>
    </article>
  </div>
</template>

<script>
import IconCloseWhite from '../assets/icons/IconCloseWhite.svg';
import BlackButton from '../components/Buttons/BlackButton';
export default {
  name: 'Stories',
  components: {
    IconCloseWhite,
  },
  data() {
    return {
      modals: {
        story: false,
        register: false,
      },
      selectedStory: {},
      stories: [
        {
          id: 1,
          imageUrl: 'https://picsum.photos/1024/480/?image=53',
        },
        {
          id: 2,
          imageUrl: 'https://picsum.photos/1024/480/?image=54',
        },
        {
          id: 3,
          imageUrl: 'https://picsum.photos/1024/480/?image=55',
        },
        {
          id: 4,
          imageUrl: 'https://picsum.photos/1024/480/?image=56',
        },
        {
          id: 5,
          imageUrl: 'https://picsum.photos/1024/480/?image=57',
        },
        {
          id: 6,
          imageUrl: 'https://picsum.photos/1024/480/?image=58',
        },
        {
          id: 7,
          imageUrl: 'https://picsum.photos/1024/480/?image=59',
        },
        {
          id: 8,
          imageUrl: 'https://picsum.photos/1024/480/?image=60',
        },
      ],
    };
  },
  methods: {
    selectStory(story) {
      this.modals.story = true;
      this.selectedStory = story;

      if (story.id >= 3) {
        this.modals.register = true;
      }
    },
    closeStory() {
      this.modals.story = false;
      this.modals.register = false;
    },
  },
};
</script>

<style lang="postcss" scoped>
.story-container {
  margin: 30px auto;
  overflow: auto;
  white-space: nowrap;

  article {
    width: 101.94px;
    min-width: 101.94px;
    height: 103px;
    min-height: 103px;
    margin-right: 42px;
    cursor: pointer;

    figure {
      padding: 3px;
      margin: 0;
      border-radius: 50%;
      background: linear-gradient(rgba(178 69 146) 100%, rgba(241 95 121) 100%);
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }
}

.story-opened-container {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 111;
  background: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;

  .story-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .story-owner {
      display: flex;
      align-items: center;

      .story-photo {
        width: 25px !important;
        height: 25px !important;
        border-radius: 100%;
        margin-right: 6px;
      }

      .story-owner-name {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  .story-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .register-modal {
      background: #ffffff;
      border-radius: 8px;
      padding: 43px 92px;
      position: absolute;

      .text {
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  .blur {
    filter: blur(50px);
  }
}
</style>
