<template>
  <div class="login">
    <div class="sign-in">
      <h1>Giriş Yap</h1>
      <div class="input-group">
        <div>E-POSTA ADRESİNİZ</div>
        <input />
      </div>
      <div class="input-group">
        <div>ŞİFRENİZ</div>
        <input />
      </div>

      <div class="forget-password">
        <nuxt-link to="/sifremi-unuttum">Şifremi unuttum </nuxt-link>
      </div>

      <div class="buttons">
        <BlackButton text="GİRİŞ YAP" />
        <GoogleButton />
      </div>
    </div>
    <div class="sign-up">
      <LetsRegister />
    </div>
  </div>
</template>

<script>
import LetsRegister from '../../components/LetsRegister';
import BlackButton from '../../components/Buttons/BlackButton';
import GoogleButton from '../../components/Buttons/GoogleButton';

export default {
  name: 'Login',
  components: {
    LetsRegister,
    BlackButton,
    GoogleButton,
  },
};
</script>

<style lang="postcss" scoped>
.login {
  display: grid;
  grid-template-columns: 444px 350px;
  column-gap: 30px;
  margin-bottom: 160px;

  .sign-in {
    border-right: 1px solid #f2f2f2;

    h1 {
      font-weight: 600;
    }

    .input-group {
      flex-direction: column;
      margin-top: 25px;

      div {
        color: #101010;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 6px;
      }

      input {
        color: #292929;
        font-size: 14px;
        width: 350px;
        border: 1px solid rgba(41, 41, 41, 0.5);
        border-radius: 4px;
        padding: 9px 16px;
      }
    }

    .forget-password {
      margin: 18px 0 23px 0;

      a {
        color: #101010;
        font-size: 12px;
        text-decoration: underline;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      margin-right: 93px;
    }
  }

  .sign-up {
    h1 {
      margin-bottom: 14px;
    }

    .description {
      color: #101010;
      font-size: 16px;
      margin-bottom: 25px;

      span {
        font-weight: bold;
      }
    }

    .list {
      .list-item {
        margin-bottom: 15px;
        font-size: 16px;
        color: #292929;

        svg {
          margin-right: 12.5px;
        }
      }
    }
  }
}
</style>
