<template>
  <article class="checkout-card-container">
    <article class="checkout-card" :class="{ selected: selected }">
      <div class="head">
        <div class="address-invoice">
          <h4>Adres Bilgileri</h4>
          <IconTick stroke="#90C048" />
        </div>
        <a class="change">Değiştir</a>
      </div>
      <h6 class="desc">Ev Adresi</h6>
      <p class="address">Mareşal Çakmak Mah. Azak sokak NO: 28 Daire:7 İstanbul / Güngören</p>
      <p class="invoice-address"><bold>Fatura Adresi:</bold> Ev Adresi</p>
    </article>
    <IconCheckoutCardBottom v-if="selected" class="bottom-svg" />
  </article>
</template>

<script>
import IconTick from '../../assets/icons/IconTick.vue';
import IconCheckoutCardBottom from '../../assets/icons/IconCheckoutCardBottom.svg';
export default {
  name: 'CheckoutCard',
  props: {
    selected: {
      type: Boolean,
      default: false,
    },
    isAddress: {
      type: Boolean,
      default: false,
    },
    isPayment: {
      type: Boolean,
      default: false,
    },
    address: {
      type: Object,
      required: false,
      default: () => {},
    },
    payment: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  components: {
    IconTick,
    IconCheckoutCardBottom,
  },
  data() {
    return {};
  },
};
</script>

<style lang="postcss" scoped>
.checkout-card-container {
  position: relative;

  .checkout-card {
    background: #f6f6f6;
    width: 100%;
    padding: 14px 20px;

    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 14px;

      .address-invoice {
        display: flex;
        align-items: center;
        margin-bottom: 14px;

        h4 {
          margin-right: 14px;
        }
      }

      .change {
        color: #666;
        font-size: 12px;
        cursor: pointer;
      }
    }

    .desc {
      color: #2860f0;
      font-weight: 600;
    }

    .address {
      font-size: 12px;
      margin-bottom: 11px;
    }

    .invoice-address {
      font-size: 14px;
      margin: 0px;

      bold {
        font-weight: 600;
      }
    }
  }

  .bottom-svg {
    width: 100%;
    position: relative;
    bottom: 10px;
  }
}
.selected {
  background: #fff !important;
  border: 1px solid #000;
}
</style>
