<template>
  <article class="list-address-box">
    <div v-if="!empty" class="head">
      <input type="radio" class="selected-address" v-model="selected" :value="true" />
      <label>İş Adresi</label>
    </div>

    <article v-if="!empty" class="box">
      <div class="name">Onur Demirden</div>
      <div class="phone">507*****43</div>
      <div class="address">Sakarya Mah...</div>
      <div class="address-short">Selçuklu / Konya</div>

      <article class="edit" :class="{ selected: selected }">
        <IconPencil class="pencil" />
        <div>Düzenle</div>
      </article>
    </article>

    <article v-else class="box empty" @click="addAddress()">
      <IconPlus2 />
      <div class="add-new">Yeni Adres Ekle</div>
    </article>
  </article>
</template>

<script>
import IconPencil from '../../assets/icons/IconPencil.svg';
import IconPlus2 from '../../assets/icons/IconPlus2.svg';

export default {
  name: 'ListAddressBox',
  props: {
    empty: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    IconPencil,
    IconPlus2,
  },
  data() {
    return {
      selected: false,
    };
  },
  methods: {
    addAddress() {
      this.$emit('addAddress');
    },
  },
};
</script>

<style lang="postcss" scoped>
.list-address-box {
  .head {
    display: flex;
    align-items: center;

    input {
      margin-right: 10px;
    }

    label {
      font-size: 14px;
      margin: 0;
    }
  }

  .box {
    background: #f6f6f6;
    padding: 15px 17px;
    margin-top: 10px;

    div {
      font-size: 12px;

      &:not(:last-child) {
        margin-bottom: 7px;
      }
    }

    .edit {
      margin-top: 18px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;

      .pencil {
        margin-right: 7.45px;
      }
    }

    .selected {
      color: #2860f0;

      .pencil > path {
        stroke: #2860f0;
      }
    }
  }

  .empty {
    margin-top: 31px;
    width: 160px;
    height: 159px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;

    .add-new {
      margin-top: 14px;
    }
  }
}
</style>
