<template>
  <div class="list-addresses-container">
    <div class="head">
      <h4>{{ name }}</h4>
      <div v-if="sameInvoice" class="same-invoice">
        <input type="checkbox" />
        <label>Fatura adresim aynı.</label>
      </div>
    </div>
    <article class="address-list">
      <ListAddressBox />
      <ListAddressBox />
      <ListAddressBox />
      <ListAddressBox />
      <ListAddressBox :empty="true" @addAddress="addAddress" />
    </article>
  </div>
</template>

<script>
import ListAddressBox from './ListAddressBox';

export default {
  name: 'ListAddresses',
  props: {
    name: {
      type: String,
      required: true,
    },
    sameInvoice: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    ListAddressBox,
  },
  methods: {
    addAddress() {
      this.$emit('addAddress');
    },
  },
};
</script>

<style lang="postcss" scoped>
.list-addresses-container {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .same-invoice {
      display: flex;
      align-items: center;

      input {
        margin-right: 5px;
      }

      label {
        font-size: 12px;
        margin: 0;
      }
    }
  }

  .address-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
}
</style>
