<template>
  <div class="my-basket">
    <div class="basket">
      <div class="basket-details">
        <h1>Alışveriş Sepetiniz</h1>
        <div class="headers">
          <h6>ADET</h6>
          <h6>TOPLAM</h6>
        </div>
        <MyBasketList />
      </div>
      <BasketTicketCard />
    </div>

    <nuxt-link to="/">
      <button class="back">
        <IconChevronLeftBlack />
        Alışverişe Devam Et
      </button>
    </nuxt-link>

    <Suggestions title="Beğendikleriniz" />
    <Suggestions title="Popüler Ürünler" />
  </div>
</template>

<script>
import MyBasketList from '../../components/Basket/MyBasket/MyBasketList';
import BasketTicketCard from '../../components/Basket/BasketTicketCard';
import Suggestions from '../../components/Suggestion/Suggestions';
import IconChevronLeftBlack from '../../assets/icons/IconChevronLeftBlack.svg';

export default {
  name: 'MyBasket',
  components: {
    MyBasketList,
    BasketTicketCard,
    Suggestions,
    IconChevronLeftBlack,
  },
};
</script>

<style lang="postcss" scoped>
.my-basket {
  .basket {
    display: grid;
    grid-template-columns: 730px 350px;
    column-gap: 30px;

    .basket-details {
      .headers {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 8px;

        h6 {
          font-weight: 600;
          &:not(:last-child) {
            margin-right: 120px;
          }
        }
      }
    }
  }

  .back {
    font-size: 14px;
    background: #f6f6f6;
    padding: 6px 12px;
    border: none;
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 12px;
    }
  }
}
</style>
