<template>
  <div class="suggestions p-0">
    <h4 :class="{ underline: isUnderline }">{{ title }}</h4>
    <div class="row m-0 d-flex h-space">
      <SuggestionItem />
      <SuggestionItem />
      <SuggestionItem />
      <SuggestionItem />
    </div>
  </div>
</template>
<script>
import SuggestionItem from './SuggestionItem';
export default {
  name: 'Suggestions',
  components: { SuggestionItem },
  props: {
    isUnderline: Boolean,
    title: {
      type: String,
      default: 'Sizin için önerdiklerimiz',
    },
  },
};
</script>
<style lang="postcss" scoped>
.suggestions {
  margin: 47px auto 79px auto;

  h4 {
    color: var(--text-black);
    margin: 0 0 14px 0;
  }

  .underline {
    display: inline-flex;
    padding-bottom: 6px;
    border-bottom: #101010 solid 2px;
  }
}
</style>
