<template>
  <article class="col-3 p-0">
    <img src="../../assets/fake-images/suggest-img.png" />

    <div class="product d-flex h-space">
      <p class="product-name">Yaka Detaylı Çizgili Sweatshirt Oversize</p>
      <IconHeart :isActive="true" class="like" />
    </div>
    <div class="price">
      <span class="old">149.99TL</span>
      <span class="new">119.99TL</span>
    </div>
  </article>
</template>
<script>
import IconHeart from '@/assets/icons/IconHeart';

export default {
  name: 'SuggestionItem',
  components: {
    IconHeart,
  },
};
</script>
<style lang="postcss" scoped>
.col-3 {
  flex: 0 0 24%;
  max-width: 24%;
}

article {
  img {
    width: 100%;
  }

  .product {
    transition: var(--transition);

    .product-name {
      width: 100%;
      max-width: 100%;
      font-size: 14px;
      color: var(--text-black);
    }

    .like {
      cursor: pointer;
    }
  }

  .price {
    .old {
      color: var(--soft-black);
      margin-right: 5px;
      text-decoration: line-through;
    }

    .new {
      color: var(--red);
    }
  }
}
</style>
