.mr {
  margin-right: 1rem;
}

.ml {
  margin-left: 1rem;
}

.d-flex {
  display: flex;
}

.v-center {
  align-items: center;
}

.h-center {
  justify-content: center;
}

.h-end {
  justify-content: flex-end;
}

.h-space {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.menu-hover > a {
  font-weight: var(--bold);
  border-bottom: var(--text-black) solid 3px;
}

hr {
  color: var(--passive);
}
