.carousel-indicators {
  margin-bottom: 20px;
}

.carousel-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  bottom: 0;
  margin: 0;
  padding: var(--slider-zone) 0 0 0;
}

.carousel-caption div,
.carousel-caption div a {
  color: var(--info-gray);
}

.carousel-caption .slide-header {
  font-size: 48px;
  font-weight: var(--thin);
  letter-spacing: 0.4em;
}
.carousel-caption .slide-link {
  font-size: 16px;
  font-feature-settings: 'case' on;
  margin-top: var(--slider-zone);
  cursor: pointer;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  margin: 0 7px;
}
