:root {
  --text-black: #101010;
  --soft-black: #292929;
  --black: #000;
  --white: #fff;
  --passive: #f2f2f2;
  --red: #ff4848;
  --gray-50: #666;
  --info-gray: #f6f6f6;
  --info-gray-2: #f9f9f9;

  --thin: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;

  --slider-zone: 75px;
  --container-width: 1110px;
  --transition: ease 0.5s;
}

/*For desktops*/
@custom-media --d (min-width: 1025px);

/*For tablets and iPad's*/
@custom-media --t (min-width: 481px) and (max-width: 1024px);

/*For phones and iPhone's*/
@custom-media --p (min-width: 0px) and (max-width: 480px);

html,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--regular);
}

button {
  outline: none !important;
  cursor: pointer;
}

a,
a:hover,
a:before,
a:after {
  text-decoration: none;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6,
  &-7,
  &-8,
  &-9,
  &-10,
  &-11,
  &-12 {
    margin: 0;
    padding: 0;
  }
}

.dropdown {
  button,
  button:hover,
  button:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black) !important;
    background: var(--white) !important;
    border: var(--black) solid 2px;
    box-shadow: none;
    font-size: 14px;
    text-align: left;
  }

  .disabled {
    color: var(--black) !important;
    background: var(--white) !important;
  }

  .dropdown-menu .presentation:hover {
    background: var(--passive) !important;
  }

  ul li a:active {
    color: var(--black);
    background: var(--white);
  }
}

.dropdown-category-sort {
  min-width: 167px;
}

.dropdown-units button {
  border: 1px solid rgba(41, 41, 41, 0.5);
}

.dropdown-provinces {
  font-size: 14px;
  width: 100%;
  resize: none;
}

.dropdown-provinces button {
  padding: 9px 16px;
}

.dropdown-provinces ul {
  height: 160px;
  overflow: auto;
  width: 100%;
}

.dropdown-provinces ul .selected a {
  font-weight: 600;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000ad;
}

input:focus,
textarea:focus {
  border: 2px solid #292929;
  border-radius: 4px;
}
