<template>
  <article class="payment-options">
    <h4>Taksit Seçenekleri</h4>

    <article class="table">
      <article class="header">
        <div></div>
        <div>Taksit Sayısı</div>
        <div>Aylık Ödeme</div>
      </article>
      <article class="content">
        <row v-for="opt in options" :key="opt.id" :option="opt" />
      </article>
    </article>
  </article>
</template>

<script>
import row from './row';
export default {
  name: 'PaymentOptions',
  components: {
    row,
  },
  data() {
    return {
      options: [
        {
          id: 1,
          paymentOptionCount: 'Peşin Ödeme',
          payment: '196,93',
          isBold: true,
        },
        {
          id: 2,
          paymentOptionCount: '2 Taksit',
          payment: '196,93',
          isBold: false,
        },
        {
          id: 3,
          paymentOptionCount: '3 Taksit',
          payment: '196,93',
          isBold: false,
        },
        {
          id: 4,
          paymentOptionCount: '4 Taksit',
          payment: '196,93',
          isBold: false,
        },
        {
          id: 5,
          paymentOptionCount: '6 Taksit',
          payment: '196,93',
          isBold: false,
        },
        {
          id: 6,
          paymentOptionCount: '9 Taksit',
          payment: '196,93',
          isBold: false,
        },
        {
          id: 7,
          paymentOptionCount: '12 Taksit',
          payment: '196,93',
          isBold: false,
        },
      ],
    };
  },
};
</script>

<style lang="postcss" scoped>
.payment-options {
  h4 {
    margin-bottom: 24px;
  }

  .table {
    .header {
      background: #f6f6f6;
      display: grid;
      grid-template-columns: 45px 1fr 1fr;
      border: 1px solid #cecece;

      div {
        font-size: 12px;
        padding: 9px 0;

        &:last-child {
          border-left: 1px solid #cecece;
          padding-left: 30px;
        }
      }
    }

    .content {
      border-left: 1px solid #cecece;
      border-right: 1px solid #cecece;
    }
  }
}
</style>
