<template>
  <article class="content-row" :class="{ bold: option.isBold }">
    <div>
      <input type="radio" />
    </div>
    <div>{{ option.paymentOptionCount }}</div>
    <div>{{ option.payment }}</div>
  </article>
</template>

<script>
export default {
  name: 'row',
  props: {
    option: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="postcss" scoped>
.content-row {
  display: grid;
  grid-template-columns: 45px 1fr 1fr;
  align-self: center;
  padding: 8px 0;
  border-bottom: 1px solid #cecece;

  div {
    font-size: 14px;
  }

  div:first-child {
    text-align: center;
  }
  div:last-child {
    padding-left: 30px;
  }
}

.bold > div {
  font-weight: 600;
}
</style>
