<template>
  <div class="basket-prices">
    <div class="price-row">
      <div>Sipariş Toplamı</div>
      <div>679,97 TL</div>
    </div>
    <div class="price-row">
      <div>Kargo</div>
      <div>Ücretsiz</div>
    </div>
    <div class="price-row bold">
      <div>Toplam (KDV Dahil)</div>
      <div>748,00 TL</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'BasketPrices',
};
</script>

<style lang="postcss" scoped>
.basket-prices {
  .price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #f2f2f2;
    }

    div {
      font-weight: 600;
      font-size: 12px;
      color: #292929;
    }
  }

  .bold {
    div {
      font-weight: bold;
    }
  }
}
</style>
