<template>
  <div class="basket-total">
    <div class="card-header">
      <div class="info">
        <h3>Sepet Toplamı</h3>
        <h6>4 Ürün</h6>

        <div class="dot left"></div>
        <div class="dot right"></div>
      </div>
    </div>
    <div class="card-content" :class="{ 'hide-bottom': hideButton }">
      <div class="price-info">
        <div class="cargo-price">Kargo ücreti</div>
        <div class="cargo-price-value">Ücretsiz</div>
        <h6 class="total-price">Toplam Tutar</h6>
        <div class="total-price-value">196,93 TL</div>
        <nuxt-link v-if="!hideButton" to="/siparisi-tamamla">
          <BlackButton text="Alışverişi Tamamla" />
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import BlackButton from '../../components/Buttons/BlackButton';

export default {
  name: 'BasketTicketCard',
  props: {
    hideButton: {
      type: Boolean,
      default: false,
    },
  },
  components: {
    BlackButton,
  },
};
</script>

<style lang="postcss" scoped>
.basket-total {
  .card-header {
    background: #f6f6f6;
    padding: 30px 40px 0;
    position: relative;
    border: none;

    .info {
      padding-bottom: 13px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 33%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 16px 1px;
      background-repeat: repeat-x;

      h3 {
        margin-bottom: 7px;
      }

      .dot {
        background: #fff;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: absolute;
        bottom: -8px;
      }

      .left {
        left: -8px;
      }
      .right {
        right: -8px;
      }
    }
  }
  .card-content {
    background: #f6f6f6;
    padding: 30px 40px 0;

    .price-info {
      .cargo-price {
        color: #292929;
        font-size: 14px;
        margin-bottom: 6px;

        &-value {
          font-size: 18px;
          font-weight: 600;
        }
      }

      .total-price {
        color: #101010;
        font-size: 16px;
        margin-top: 24px;
        margin-bottom: 4px;

        &-value {
          color: #292929;
          font-size: 26px;
          font-weight: bold;
          margin-bottom: 23px;
        }
      }
    }
  }
}

.hide-bottom {
  padding-bottom: 18px !important;
}
</style>
