<template>
  <div class="basket-buttons">
    <nuxt-link to="/sepetim">
      <button class="outline-white">Sepeti Görüntüle</button>
    </nuxt-link>
    <button class="full-black">Satın Al</button>
  </div>
</template>

<script>
export default { name: 'BasketButtons' };
</script>

<style lang="postcss" scoped>
.basket-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  button {
    font-size: 12px;
    font-weight: 600;
    border-radius: 4px;
    padding: 9px 0;
    width: 100%;
  }

  .outline {
    &-white {
      color: #000;
      background: #fff;
      border: 1px solid #000;
    }
  }

  .full {
    &-black {
      color: #fff;
      background: #000;
    }
  }
}
</style>
