<template>
  <div class="basket" :style="{ display: basketOpened ? 'block' : 'none' }">
    <div class="basket-header">
      <h6>Sepetinizdeki ürünler</h6>
      <p>5 ürün</p>
    </div>
    <div class="basket-items">
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
      <BasketCardItem />
    </div>
    <BasketPrices />
    <BasketButtons />
  </div>
</template>

<script>
import BasketCardItem from './BasketCardItem';
import BasketPrices from './BasketPrices';
import BasketButtons from './BasketButtons';

export default {
  name: 'BasketCard',
  components: { BasketCardItem, BasketPrices, BasketButtons },
  data() {
    return {
      basketOpened: false,
    };
  },
  mounted() {
    this.listenClicks();
  },
  methods: {
    listenClicks() {
      document.addEventListener('click', (e) => {
        const clickedElement = e.srcElement;
        if ((clickedElement.id === 'shoppingBagIcon' || clickedElement.id === 'shoppingBagBadge') && !this.basketOpened) {
          this.basketOpened = true;
        } else {
          this.basketOpened = false;
        }
      });
    },
  },
};
</script>

<style lang="postcss" scoped>
.basket {
  width: 376px;
  position: absolute;
  right: 0;
  margin-top: 6px;
  padding: 18px 14px;
  background: #fff;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  z-index: 11;

  .basket-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    h6 {
      font-size: 16px;
      font-weight: 600;
    }
    p {
      color: rgba(41, 41, 41, 0.5);
      font-weight: 600;
      font-size: 12px;
      margin: 0;
    }
  }

  .basket-items {
    position: relative;
    overflow: auto;
    white-space: nowrap;
    height: 216px;
  }
}
</style>
