<template>
  <div class="basket-item">
    <div class="product">
      <img class="product-img" src="http://placeimg.com/540/757/fashion" />
      <div class="details">
        <div class="product-name">Ada Vintage Jean Pantolon</div>
        <div class="unit-size">
          <p class="unit">Adet: 1</p>
          <p class="size">Beden: 31 / 34</p>
        </div>
        <div class="price">129,99 TL</div>
      </div>
    </div>

    <div class="close-button">
      <IconClose />
    </div>
  </div>
</template>

<script>
import IconClose from '../../assets/icons/IconClose.svg';

export default {
  name: 'BasketCardItem',
  components: {
    IconClose,
  },
};
</script>

<style lang="postcss" scoped>
.basket-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;

  .product {
    display: flex;
    .product-img {
      width: 42px;
      height: 60px;
      margin-right: 10px;
    }

    .details {
      .product-name {
        color: #101010;
        font-size: 14px;
      }

      .unit-size {
        display: flex;
        align-items: center;
        p {
          margin: 0;
        }

        .unit {
          font-size: 12px;
          color: #666666;
          margin-right: 9px;
        }

        .size {
          font-size: 12px;
          color: #666666;
        }
      }

      .price {
        font-weight: 600;
        font-size: 14px;
        color: #292929;
      }
    }
  }

  .close-button {
    background: #f7f7f7;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
</style>
