<template>
  <div>
    <Spinner v-if="$store.state.loading" />
    <Header />
    <main class="master">
      <Nuxt />
    </main>
    <Footer />
  </div>
</template>
<script>
import Header from '@/components/Header/Header';
import Footer from '@/components/Footer';

import Spinner from '@/components/Spinner';

export default {
  name: 'default',
  components: { Header, Footer, Spinner },
  created() {
    this.$store.dispatch('fetchProducts');
  },
};
</script>

<style lang="postcss">
.master {
  width: var(--container-width);
  margin: auto;
}
</style>
