<template>
  <div class="filter-panel" :class="{ hide: !show }">
    <div class="panel-item">
      <h6 class="header">KATEGORİ</h6>

      <div class="filter-item" v-for="category in categories" :key="category.id">
        <input type="checkbox" />
        {{ category.text }}
        <span class="count">({{ Math.round(Math.random() * 100) }})</span>
      </div>
    </div>
    <div class="panel-item">
      <h6 class="header">TEMA</h6>

      <div class="filter-item" v-for="category in categories" :key="category.id">
        <input type="checkbox" />
        {{ category.text }}
        <span class="count">({{ Math.round(Math.random() * 100) }})</span>
      </div>
    </div>
    <div class="panel-item">
      <h6 class="header">BEDEN</h6>
      <div class="filter-items-size">
        <div
          class="filter-item-size"
          v-for="size in sizes"
          :key="size.id"
          @click="size.selected = !size.selected"
          :class="{ selected: size.selected }"
        >
          {{ size.text }}
        </div>
      </div>
    </div>
    <div class="panel-item">
      <h6 class="header">RENK</h6>

      <div class="filter-items-color">
        <div
          class="filter-item-color"
          v-for="color in colors"
          :key="color.id"
          @click="color.selected = !color.selected"
          :style="{ background: color.color }"
        >
          <IconTick v-if="color.selected" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import IconTick from '../../assets/icons/IconTick.vue';

export default {
  name: 'FilterPanel',
  props: {
    show: {
      type: Boolean,
      required: true,
    },
  },
  components: {
    IconTick,
  },
  data() {
    return {
      sizes: [
        {
          id: 1,
          text: 'XS',
          selected: false,
        },
        {
          id: 2,
          text: 'S',
          selected: false,
        },
        {
          id: 3,
          text: 'M',
          selected: false,
        },
        {
          id: 4,
          text: 'L',
          selected: false,
        },
        {
          id: 5,
          text: 'XL',
          selected: false,
        },
        {
          id: 6,
          text: '24',
          selected: false,
        },
        {
          id: 7,
          text: '25',
          selected: false,
        },
        {
          id: 8,
          text: '26',
          selected: false,
        },
        {
          id: 9,
          text: '27',
          selected: false,
        },
        {
          id: 10,
          text: '28',
          selected: false,
        },
      ],
      colors: [
        {
          id: 1,
          color: 'blue',
          selected: false,
        },
        {
          id: 2,
          color: 'red',
          selected: false,
        },
        {
          id: 3,
          color: 'orange',
          selected: false,
        },
        {
          id: 4,
          color: 'green',
          selected: false,
        },
        {
          id: 5,
          color: 'purple',
          selected: false,
        },
      ],
      categories: [],
    };
  },
  created() {
    this.categories = this.$store.state.categories;
  },
};
</script>

<style lang="postcss" scoped>
.filter-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  position: absolute;
  width: 1110px;
  min-height: 339px;
  top: 65px;
  padding: 33px 24px;

  background: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;

  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);

  .panel-item {
    .header {
      color: #101010;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    .filter-item {
      color: #101010;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      text-transform: capitalize;

      input {
        margin-right: 8px;
      }

      .count {
        color: #666;
        margin-left: 8px;
      }
    }

    .filter-items-size {
      display: grid;
      grid-template-columns: 32px 32px 32px 32px 32px;
      grid-column-gap: 10px;
      column-gap: 10px;
      grid-row-gap: 10px;
      row-gap: 10px;

      .filter-item-size {
        color: #292929;
        font-size: 12px;
        width: 32px;
        height: 32px;
        border: 1px solid #292929;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .selected {
        color: #fff !important;
        background: #292929;
      }
    }

    .filter-items-color {
      display: grid;
      grid-template-columns: 32px 32px 32px 32px 32px;
      grid-column-gap: 10px;
      column-gap: 10px;
      grid-row-gap: 10px;
      row-gap: 10px;

      .filter-item-color {
        font-size: 12px;
        width: 32px;
        height: 32px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .red {
        background: red;
      }
      .blue {
        background: blue;
      }
      .orange {
        background: orange;
      }
    }
  }
}

.hide {
  display: none;
}
</style>
