<template>
  <div>
    <Stories />
    <Slider />
    <Banner :photoUrl="banners[0].photoUrl" :navigateUrl="banners[0].navigateUrl" />
    <Banner :photoUrl="banners[1].photoUrl" :navigateUrl="banners[1].navigateUrl" />
    <Suggestions />
    <Banner :photoUrl="banners[2].photoUrl" :navigateUrl="banners[2].navigateUrl" />
    <Banner :photoUrl="banners[3].photoUrl" :navigateUrl="banners[3].navigateUrl" />
  </div>
</template>

<script>
import Slider from '@/components/Slider';
import Stories from '@/components/Stories';
import Banner from '../components/Banner';
import Suggestions from '@/components/Suggestion/Suggestions';

export default {
  components: {
    Slider,
    Stories,
    Banner,
    Suggestions,
  },
  data() {
    return {
      banners: [
        {
          photoUrl: 'https://i.ibb.co/NjjF9dW/banner-1.png',
          navigateUrl: '#',
        },
        {
          photoUrl: 'https://i.ibb.co/Wgzndkz/banner-2.png',
          navigateUrl: '#',
        },
        {
          photoUrl: 'https://i.ibb.co/FBfWLpY/banner-3.png',
          navigateUrl: '#',
        },
        {
          photoUrl: 'https://i.ibb.co/x8SghTX/banner-4.png',
          navigateUrl: '#',
        },
      ],
    };
  },
};
</script>

<style lang="postcss">
.main {
  width: var(--container-width);
}
</style>
