<template>
  <article class="success-order">
    <IconSuccess class="icon-success" />
    <div class="success-text">
      <h1>Siparişiniz başarıyla alınmıştır.</h1>
    </div>
    <h4 class="order-no"><span>Sipariş Numaranız</span>: 19913675534</h4>
    <h6 class="info">Profilim sayfasından sipariş detaylarınızı görüntüleyebilir, kargo takibi gerçekleştirebilirsiniz.</h6>
    <div class="buttons">
      <nuxt-link>
        <button class="keep-shop">
          <IconChevronLeftBlack class="icon" />
          Alışverişe Devam Et
        </button>
      </nuxt-link>
      <button class="order-detail">Sipariş Detayı</button>
    </div>
  </article>
</template>

<script>
import IconSuccess from '../../assets/icons/IconSuccess.svg';
import IconChevronLeftBlack from '../../assets/icons/IconChevronLeftBlack.svg';

export default {
  name: 'SuccessOrder',
  components: {
    IconSuccess,
    IconChevronLeftBlack,
  },
};
</script>

<style lang="postcss" scoped>
.success-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .icon-success {
    margin-bottom: 20px;
  }

  .success-text {
    width: 540px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;

    h1 {
      color: #12aa3f;
    }
  }

  .order-no {
    margin-bottom: 25px;

    span {
      font-weight: 600;
    }
  }

  .info {
    color: #666;
    margin-bottom: 40px;
  }

  .buttons {
    margin-bottom: 100px;

    .keep-shop {
      color: #292929;
      font-size: 14px;
      background: #f6f6f6;
      border: none;
      border-radius: 4px;
      margin-right: 10px;
      padding: 6.5px 12px;

      .icon {
        margin-right: 17.5px;
      }
    }

    .order-detail {
      color: #fff;
      font-size: 14px;
      background: #12aa3f;
      border: none;
      border-radius: 4px;
      margin-left: 10px;
      padding: 7px 47px;
    }
  }
}
</style>
