<template>
  <div class="row layout p-0">
    <div class="col-12 layout-title">Yaz Gecesi Koleksiyonu ‘20</div>
    <div class="col-4 c-2 m-0 p-0">
      <div class="row m-0 p-0">
        <div class="col-12 c2-r m-0 p-0">
          <img src="@/assets/fake-images/Rectangle 4.png" />
        </div>
        <div class="col-12 m-0 p-0">
          <img src="@/assets/fake-images/Rectangle 5.png" />
        </div>
      </div>
    </div>
    <div class="col-8 c-1 m-0 p-0">
      <img src="@/assets/fake-images/Frame 9.png" />
    </div>
  </div>
</template>
<script>
export default {
  name: 'Layout_2_1',
};
</script>
<style lang="postcss" scoped>
.layout {
  width: var(--container-width);
  margin: 0 auto;

  .layout-title {
    font-size: 22px;
    color: var(--text-black);
    margin: 50px 0 15px 0;
    padding: 0;
  }

  .c-2 {
    padding-right: 15px !important;
  }

  .c-1 {
    padding-left: 15px !important;
  }

  .c2-r {
    margin-bottom: 30px !important;
  }
}

img {
  width: 100%;
  height: 100%;
}
</style>
