<template>
  <div class="row p-0">
    <div class="col-6 p-0">
      <img src="../../assets/fake-images/kot-mont.png" />
    </div>
    <div class="col-6 layout-text d-flex h-center v-center flex-column">
      <div class="header">KOT CEKETLERDE</div>
      <div class="discount">%20 İNDİRİM</div>
      <div class="last-date">1 TEMMUZ’A KADAR</div>
      <div class="genders">
        <span>KADIN <IconChevronRightBlack /></span>
        <span>ERKEK <IconChevronRightBlack /></span>
      </div>
    </div>
  </div>
</template>
<script>
import IconChevronRightBlack from '@/assets/icons/IconChevronRightBlack.svg';

export default {
  name: 'Layout_1_1',
  components: {
    IconChevronRightBlack,
  },
};
</script>
<style lang="postcss" scoped>
.row {
  width: var(--container-width);
  margin: 0 auto;

  .layout-text {
    padding: 52px 0 0 0;
  }

  .col-6 {
    background: var(--info-gray-2);

    img {
      width: 100%;
      height: 100%;
    }

    .header {
      font-size: 42px;
      font-weight: var(--bold);
      color: var(--soft-black);
    }

    .discount {
      font-size: 48px;
      font-weight: var(--extra-bold);
      color: var(--red);
    }

    .last-date {
      font-size: 12px;
      color: var(--soft-black);
      letter-spacing: 0.325em;
      padding: 26px 0;
    }

    .genders span {
      font-size: 14px;
      font-weight: var(--semi-bold);
      color: var(--black);
      margin-right: 19px;
      cursor: pointer;
    }
  }
}
</style>
