<template>
  <article class="p-0">
    <nuxt-link :to="productDetailLink">
      <img :src="product.imageUrl" :alt="product.productName" />
    </nuxt-link>

    <div class="product d-flex h-space">
      <p class="product-name">
        <nuxt-link :to="productDetailLink">
          {{ product.productName }}
        </nuxt-link>
      </p>
      <a @click="$store.dispatch('likeProduct', product.id)">
        <IconHeart class="like" :isActive="product.isLiked" />
      </a>
    </div>

    <div class="price">
      <span class="old">{{ product.oldPrice }}TL</span>
      <span class="new">{{ product.newPrice }}TL</span>
    </div>
  </article>
</template>
<script>
import IconHeart from '@/assets/icons/IconHeart';
import { mapActions } from 'vuex';

import { GENERATE_PRODUCT_DETAIL_LINK } from '../../../../const/link';

export default {
  name: 'ProductListItem',
  props: ['product'],
  components: {
    IconHeart,
  },
  methods: {
    ...mapActions(['likeProduct']),
  },
  computed: {
    productDetailLink() {
      return GENERATE_PRODUCT_DETAIL_LINK(this.product);
    },
  },
};
</script>
<style lang="postcss" scoped>
.col-3 {
  flex: 0 0 24%;
  max-width: 24%;
}

article {
  img {
    width: 100%;
    cursor: pointer;
  }

  .product {
    transition: var(--transition);

    .product-name > a {
      width: 100%;
      max-width: 100%;
      font-size: 14px;
      color: var(--text-black);
      cursor: pointer;
    }

    .like {
      cursor: pointer;
    }
  }

  .price {
    .old {
      color: var(--soft-black);
      margin-right: 5px;
      text-decoration: line-through;
    }

    .new {
      color: var(--red);
    }
  }
}
</style>
