<template>
  <div>
    <ProductList :products="products" />
  </div>
</template>

<script>
import ProductList from '../../components/Product/List';

export default {
  name: 'Category',
  components: { ProductList },
  data() {
    return {
      category: {},
      products: [],
    };
  },
  async created() {
    this.category = await this.$store.dispatch('getCategoryDetails', this.$route.params.category);
    this.products = await this.$store.dispatch('getProductsByCategoryId', this.category.id);
  },
};
</script>

<style></style>
