<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect x="1.5" y="1.5" width="5" height="9" rx="0.5" :stroke="strokeColor" />
    <rect x="1.5" y="13.5" width="5" height="9" rx="0.5" :stroke="strokeColor" />
    <rect x="9.5" y="1.5" width="5" height="9" rx="0.5" :stroke="strokeColor" />
    <rect x="9.5" y="13.5" width="5" height="9" rx="0.5" :stroke="strokeColor" />
    <rect x="17.5" y="1.5" width="5" height="9" rx="0.5" :stroke="strokeColor" />
    <rect x="17.5" y="13.5" width="5" height="9" rx="0.5" :stroke="strokeColor" />
  </svg>
</template>

<script>
export default {
  name: 'IconListing4',
  props: {
    isActive: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    strokeColor() {
      return this.isActive ? '#292929' : '#CECECE';
    },
  },
};
</script>
