<template>
  <svg width="17" height="12" viewBox="0 0 17 12" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16 1L6.35355 10.6464C6.15829 10.8417 5.84171 10.8417 5.64645 10.6464L1 6"
      :stroke="stroke"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {
  name: 'IconTick',
  props: {
    stroke: {
      type: String,
      default: '#F7F7F7',
    },
  },
};
</script>

<style></style>
