<template>
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="path-1-inside-1" fill="white">
      <rect x="1" y="1" width="10" height="22" rx="1" />
    </mask>
    <rect x="1" y="1" width="10" height="22" rx="1" :stroke="strokeColor" stroke-width="4" mask="url(#path-1-inside-1)" />
    <mask id="path-2-inside-2" fill="white">
      <rect x="13" y="1" width="10" height="22" rx="1" />
    </mask>
    <rect x="13" y="1" width="10" height="22" rx="1" :stroke="strokeColor" stroke-width="4" mask="url(#path-2-inside-2)" />
  </svg>
</template>

<script>
export default {
  name: 'IconListing2',
  props: {
    isActive: {
      type: Boolean,
      required: true,
    },
  },
  computed: {
    strokeColor() {
      return this.isActive ? '#292929' : '#CECECE';
    },
  },
};
</script>
