<template>
  <svg width="32" height="32" viewBox="0 0 32 32" :fill="fillColor" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M0 8C0 3.58172 3.58172 0 8 0H24C28.4183 0 32 3.58172 32 8V24C32 28.4183 28.4183 32 24 32H8C3.58172 32 0 28.4183 0 24V8Z"
      :fill="parentColor"
    />
    <path
      d="M22.7663 10.2337C22.3753 9.84261 21.9111 9.53234 21.4002 9.32065C20.8893 9.10896 20.3417 9 19.7887 9C19.2357 9 18.6881 9.10896 18.1772 9.32065C17.6663 9.53234 17.2021 9.84261 16.8112 10.2337L15.9998 11.0451L15.1884 10.2337C14.3987 9.44406 13.3277 9.00041 12.2109 9.00041C11.0941 9.00041 10.023 9.44406 9.23334 10.2337C8.44365 11.0234 8 12.0945 8 13.2113C8 14.3281 8.44365 15.3991 9.23334 16.1888L10.0447 17.0002L15.9998 22.9553L21.9549 17.0002L22.7663 16.1888C23.1574 15.7979 23.4677 15.3337 23.6794 14.8228C23.891 14.3119 24 13.7643 24 13.2113C24 12.6583 23.891 12.1107 23.6794 11.5998C23.4677 11.0889 23.1574 10.6247 22.7663 10.2337V10.2337Z"
      :stroke="strokeColor"
      stroke-width="1.2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>

<script>
export default {
  name: 'IconHeart',
  props: {
    isActive: {
      type: Boolean,
      required: true,
    },
    noBorder: {
      type: Boolean,
      default: false,
    },
    transparent: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    strokeColor() {
      if (this.noBorder) return '#ff4848';
      return this.isActive ? 'var(--red)' : 'var(--soft-black)';
    },
    fillColor() {
      if (this.noBorder) return '#fff';
      return this.isActive ? 'var(--red)' : 'none';
    },
    parentColor() {
      if (this.transparent) return 'transparent';
      if (this.noBorder) return '#ff4848';
      return 'white';
    },
  },
};
</script>
